* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background: url(images/bitcoin-bg.jpg) fixed no-repeat;
    background-size: cover;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    overflow: hidden;
    max-height: 100vh
}

.bsx {
    display: flex;
    max-height: 100vh;
    flex-direction: column;
}

body:after {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(5,54,102,0.9);
    top: 0px;
    z-index: -1;
    left: 0px;
}

.top_header {
    position: relative;
    z-index: 1;
}

.top_header {
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 2%;
    overflow: hidden;
    display: table;
    width: 94%;
    margin-bottom: 1%;
    height: 24vh;
}

.bottom_points {
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 2%;
    position: relative;
    z-index: 1;
    height: 62%;
    width: 94%;
    font-size: 2.5vh;
}

.logo_left {
    display: table-cell;
    width: 50%;
}

.digtal_time {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

.logo_left img {
    vertical-align: bottom;
    height: 20vh;
}

.date_field {
    display: inline-block;
    font-size: 4.0vh;
    color: #fff;
}

.digtal_time .tokyo_time, .digtal_time .tel_tiem, .digtal_time .new_york_time {
    display: inline-block;
    margin-left: 7%;
}

.time_city {
    text-align: center;
    color: #fff;
    margin-top: 2%;
    font-size: 1.5vh;
}

.digtal_time .digital_time_box {
    text-align: center;
}

.left-point_box {
    width: 76%;
    display: block;
    background: rgba(31,53,76,0.8);
    color: #fff;
    float: left;
}

.right_point_box {
    width: 23%;
    display: block;
    margin-left: 1%;
    background: rgba(31,53,76,0.8);
    color: #fff;
    float: right;
}

.digital_time_box img {
    height: 15vh;
}

.left-point_box img {
    max-width: 100%;
    height: 62vh;
    width: 100vw;
}

.right_point_box img {
    max-width: 100%;
    height: 62vh;
    width: 100vw;
}

.mt50 {
    margin-top: 15px;
}

.clock {
    zoom : 0.6
}

.mb50 {
    margin-bottom: 50px;
}

.clock {
    width: 140px;
    height: 140px;
    padding: 0;
    margin : 0 auto;
    /* margin-top : 30px; */
}

.clock .inner {
    position: relative;
    width: 100%;
    height: 100%;
    background: #3e6c8c;
    border: 1.9444444444px solid #181818;
    border-radius: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.75) inset;
}

.clock .inner .hand {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2.8px;
    background-color: #50bff4;
}

.clock .inner .hand.hour {
    height: 35px;
    margin-top: -10.6060606061px;
    -webkit-transform: rotate(0deg) translate(-50%, -50%);
    transform: rotate(0deg) translate(-50%, -50%);
    -webkit-transform-origin: 0 10.6060606061px;
    transform-origin: 0 10.6060606061px;
}

.clock .inner .hand.minute {
    height: 46.6666666667px;
    margin-top: -10.6060606061px;
    -webkit-transform: rotate(0deg) translate(-50%, -50%);
    transform: rotate(0deg) translate(-50%, -50%);
    -webkit-transform-origin: 0 10.6060606061px;
    transform-origin: 0 10.6060606061px;
}

.clock .inner .hand.second {
    width: 0.7567567568px;
    height: 46.6666666667px;
    background-color: #50bff4;
    margin-top: -14px;
    box-shadow: -4px -6px 0 0 rgba(0, 0, 0, 0.15);
    -webkit-transform: rotate(0deg) translate(-50%, -50%);
    transform: rotate(0deg) translate(-50%, -50%);
    -webkit-transform-origin: 0 14px;
    transform-origin: 0 14px;
}

.clock .inner .hand.second:before, .clock .inner .hand.second:after {
    content: "";
    display: inherit;
    position: inherit;
    left: inherit;
    background-color: inherit;
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.clock .inner .hand.second:before {
    top: 36.8421052632px;
    width: 7px;
    height: 7px;
    box-shadow: -2px -2px 2px 0 rgba(0, 0, 0, 0.15);
}

.clock .inner .hand.second:after {
    top: 7.7777777778px;
    width: 3.8888888889px;
    height: 3.8888888889px;
    box-shadow: -4px -6px 2px 0 rgba(0, 0, 0, 0.15);
}

.clock .inner .graduations .graduation {
    display: block;
    position: absolute;
    top: 2.9166666667px;
    left: 50%;
    width: 0.7567567568px;
    height: 3.5px;
    background-color: #fff;
    -webkit-transform: rotate(0deg) translateX(-50%);
    transform: rotate(0deg) translateX(-50%);
    -webkit-transform-origin: 0 64.1666666667px;
    transform-origin: 0 64.1666666667px;
}

.clock .inner .graduations .graduation:nth-child(5n-4) {
    width: 1.5555555556px;
    height: 7.7777777778px;
}

.clock .inner .graduations .graduation:nth-child(1) {
    -webkit-transform: rotate(1deg) translateX(-50%);
    transform: rotate(1deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(2) {
    -webkit-transform: rotate(7deg) translateX(-50%);
    transform: rotate(7deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(3) {
    -webkit-transform: rotate(13deg) translateX(-50%);
    transform: rotate(13deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(4) {
    -webkit-transform: rotate(19deg) translateX(-50%);
    transform: rotate(19deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(5) {
    -webkit-transform: rotate(25deg) translateX(-50%);
    transform: rotate(25deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(6) {
    -webkit-transform: rotate(31deg) translateX(-50%);
    transform: rotate(31deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(7) {
    -webkit-transform: rotate(37deg) translateX(-50%);
    transform: rotate(37deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(8) {
    -webkit-transform: rotate(43deg) translateX(-50%);
    transform: rotate(43deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(9) {
    -webkit-transform: rotate(49deg) translateX(-50%);
    transform: rotate(49deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(10) {
    -webkit-transform: rotate(55deg) translateX(-50%);
    transform: rotate(55deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(11) {
    -webkit-transform: rotate(61deg) translateX(-50%);
    transform: rotate(61deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(12) {
    -webkit-transform: rotate(67deg) translateX(-50%);
    transform: rotate(67deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(13) {
    -webkit-transform: rotate(73deg) translateX(-50%);
    transform: rotate(73deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(14) {
    -webkit-transform: rotate(79deg) translateX(-50%);
    transform: rotate(79deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(15) {
    -webkit-transform: rotate(85deg) translateX(-50%);
    transform: rotate(85deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(16) {
    -webkit-transform: rotate(91deg) translateX(-50%);
    transform: rotate(91deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(17) {
    -webkit-transform: rotate(97deg) translateX(-50%);
    transform: rotate(97deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(18) {
    -webkit-transform: rotate(103deg) translateX(-50%);
    transform: rotate(103deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(19) {
    -webkit-transform: rotate(109deg) translateX(-50%);
    transform: rotate(109deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(20) {
    -webkit-transform: rotate(115deg) translateX(-50%);
    transform: rotate(115deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(21) {
    -webkit-transform: rotate(121deg) translateX(-50%);
    transform: rotate(121deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(22) {
    -webkit-transform: rotate(127deg) translateX(-50%);
    transform: rotate(127deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(23) {
    -webkit-transform: rotate(133deg) translateX(-50%);
    transform: rotate(133deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(24) {
    -webkit-transform: rotate(139deg) translateX(-50%);
    transform: rotate(139deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(25) {
    -webkit-transform: rotate(145deg) translateX(-50%);
    transform: rotate(145deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(26) {
    -webkit-transform: rotate(151deg) translateX(-50%);
    transform: rotate(151deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(27) {
    -webkit-transform: rotate(157deg) translateX(-50%);
    transform: rotate(157deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(28) {
    -webkit-transform: rotate(163deg) translateX(-50%);
    transform: rotate(163deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(29) {
    -webkit-transform: rotate(169deg) translateX(-50%);
    transform: rotate(169deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(30) {
    -webkit-transform: rotate(175deg) translateX(-50%);
    transform: rotate(175deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(31) {
    -webkit-transform: rotate(181deg) translateX(-50%);
    transform: rotate(181deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(32) {
    -webkit-transform: rotate(187deg) translateX(-50%);
    transform: rotate(187deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(33) {
    -webkit-transform: rotate(193deg) translateX(-50%);
    transform: rotate(193deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(34) {
    -webkit-transform: rotate(199deg) translateX(-50%);
    transform: rotate(199deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(35) {
    -webkit-transform: rotate(205deg) translateX(-50%);
    transform: rotate(205deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(36) {
    -webkit-transform: rotate(211deg) translateX(-50%);
    transform: rotate(211deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(37) {
    -webkit-transform: rotate(217deg) translateX(-50%);
    transform: rotate(217deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(38) {
    -webkit-transform: rotate(223deg) translateX(-50%);
    transform: rotate(223deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(39) {
    -webkit-transform: rotate(229deg) translateX(-50%);
    transform: rotate(229deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(40) {
    -webkit-transform: rotate(235deg) translateX(-50%);
    transform: rotate(235deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(41) {
    -webkit-transform: rotate(241deg) translateX(-50%);
    transform: rotate(241deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(42) {
    -webkit-transform: rotate(247deg) translateX(-50%);
    transform: rotate(247deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(43) {
    -webkit-transform: rotate(253deg) translateX(-50%);
    transform: rotate(253deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(44) {
    -webkit-transform: rotate(259deg) translateX(-50%);
    transform: rotate(259deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(45) {
    -webkit-transform: rotate(265deg) translateX(-50%);
    transform: rotate(265deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(46) {
    -webkit-transform: rotate(271deg) translateX(-50%);
    transform: rotate(271deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(47) {
    -webkit-transform: rotate(277deg) translateX(-50%);
    transform: rotate(277deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(48) {
    -webkit-transform: rotate(283deg) translateX(-50%);
    transform: rotate(283deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(49) {
    -webkit-transform: rotate(289deg) translateX(-50%);
    transform: rotate(289deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(50) {
    -webkit-transform: rotate(295deg) translateX(-50%);
    transform: rotate(295deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(51) {
    -webkit-transform: rotate(301deg) translateX(-50%);
    transform: rotate(301deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(52) {
    -webkit-transform: rotate(307deg) translateX(-50%);
    transform: rotate(307deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(53) {
    -webkit-transform: rotate(313deg) translateX(-50%);
    transform: rotate(313deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(54) {
    -webkit-transform: rotate(319deg) translateX(-50%);
    transform: rotate(319deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(55) {
    -webkit-transform: rotate(325deg) translateX(-50%);
    transform: rotate(325deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(56) {
    -webkit-transform: rotate(331deg) translateX(-50%);
    transform: rotate(331deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(57) {
    -webkit-transform: rotate(337deg) translateX(-50%);
    transform: rotate(337deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(58) {
    -webkit-transform: rotate(343deg) translateX(-50%);
    transform: rotate(343deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(59) {
    -webkit-transform: rotate(349deg) translateX(-50%);
    transform: rotate(349deg) translateX(-50%);
}

.clock .inner .graduations .graduation:nth-child(60) {
    -webkit-transform: rotate(355deg) translateX(-50%);
    transform: rotate(355deg) translateX(-50%);
}

.backgroundblue {
    background: #1d314a;
    min-height: 50px;
    max-height: 100%;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.table {
    background: #192c41 !important;
}

.table thead th {
    color: #60c079;
    border: 0 !important;
}

.table tr {
    font-size: 15px;
    border: 0 !important;
}

.table td {
    color: #3c97cd;
    border: 0 !important;
}

.table th:last-child {
    text-align: right;
}

.table td:last-child {
    color: #fff;
    text-align: right;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
    background: #1f334c
}

.row {
    margin : 0 !important;
    padding-bottom: 30px;
}

.logo_img {
    height: 100%;
}

.row.mb0 {
    padding: 0;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) td {
    color: #7bb9fc;
}

.box_inner {
    border-bottom: 2px solid #49b6f7;
    border-right: 1px solid #22486d;
    margin-right: 1px;
    color: #fff;
    padding: 10px;
    font-size: 12px;
}

.box_inner span {
    width: 49%;
    display: inline-block;
    float: left;
     font-weight: bold;
}

.box_inner:last-child {
    border-right: 0;
    margin: 0;
}

span.color_red {
    color: red;
}

span.color_green {
    color: #69d180;
}

span.color_blue {
    color: #3c96c9;
}
span.s4{

  text-align: center;
}
span.s2 span {
    display: inline-block;
    width: 100%;
    text-align: center;
}

td{
  font-weight: bold;
}
.tradingview-widget-copyright {
    display: none;
}


.tradingview-widget-container, .tradingview-widget-container > div {
    width: 100%;
    height: 100%;
}

.box_inner{
  height: 100%;
}

.box_inner {
    height: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
