<div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                          <div ng-if="messages.error" role="alert" class="alert alert-danger">
                            <div ng-repeat="error in messages.error">{{error.msg}}</div>
                          </div>
                          <div ng-if="messages.success" role="alert" class="alert alert-success">
                            <div ng-repeat="success in messages.success">{{success.msg}}</div>
                          </div>
                          <form ng-submit="submitForm()">
                            <div class="card stacked-form">
                                <div class="card-header ">
                                    <h4 class="card-title">{{title}}</h4>
                                </div>
                                <div class="card-body ">

                                        <div class="form-group">
                                            <label>ATM Title</label>
                                            <input type="text" ng-model="atm.title" placeholder="Enter ATM Name" class="form-control">
                                        </div>

                                        <div class="form-group">
                                            <label>ATM Title - Hebew</label>
                                            <input type="text" ng-model="atm.title_he" placeholder="Enter ATM Name" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>ATM Description</label>
                                            <input type="text" ng-model="atm.description" placeholder="Enter ATM Description" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>ATM Description - Hebrew</label>
                                            <input type="text" ng-model="atm.description_he" placeholder="Enter ATM Description" class="form-control">
                                        </div>


                                        <div class="form-group">
                                            <label>ATM Phone Number</label>
                                            <input type="text" ng-model="atm.phone_number" placeholder="Enter ATM Phone Number" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>ATM Commission for buy</label>
                                            <input type="text" ng-model="atm.commission" placeholder="Enter ATM Commission for buy" class="form-control">
                                        </div>


                                        <div class="form-group">
                                            <label>ATM Commission for sell</label>
                                            <input type="text" ng-model="atm.commission_sell" placeholder="Enter ATM Commission for sell" class="form-control">
                                        </div>



																						<fieldset class="gllpLatlonPicker">
																			<div class="form-group">
																				<label>ATM Address</label>
                                        <div class='row'>
                                        <div class='col-md-9'>

  																				<input type="text" ng-model="atm.address" placeholder="Enter ATM Address" class="form-control gllpSearchField gllpLocationName">
                                        </div>

                                        <div class='col-md-3'>
																				                      <input type="button" class="btn btn-primary gllpSearchButton" value="search">
                                        </div>
                                      </div>
																			</div>

                                      <div class="form-group">
                                      <label>ATM Address - Hebrew</label>
                                      <div class='row'>
                                      <div class='col-md-9'>

                                        <input type="text" ng-model="atm.address_he" placeholder="Enter ATM Address" class="form-control">
                                      </div>

                                    </div>
                                    </div>


                                      <br />
																			<div class="gllpMap"> </div>



																			<div class="form-group">
                                        <label>ATM Latitude</label>

																				<input type="text" ng-model="atm.lat"  class="form-control gllpLatitude">
																			</div>


																			<div class="form-group">
                                        <label>ATM Longitude</label>

																				<input type="text" ng-model="atm.long"  class="form-control gllpLongitude">
																			</div>

											<input type="hidden"  class="gllpZoom" value="3"/>

																			</fieldset>


																			<div class="form-group">
																				<label>ATM Start Time</label>
																				<input type="time" ng-model="start_time" placeholder="Enter ATM  Start Time" class="form-control">
																			</div>


																			<div class="form-group">
																				<label>ATM Close Time</label>
																				<input type="time" ng-model="close_time" placeholder="Enter ATM Close Time" class="form-control">
																			</div>

                                      <!-- {{atm.days_available}} -->
<!-- {{atm.days}} -->

																			<div class="form-group">
																				<label>Select Availability?</label>
																				<br />
																				<label>
																					<input type="checkbox" ng-model="days.day_1" ng-checked="isAvail(1)" />
																				Monday
																				</label>
																				<br />
																				<label>
																					<input type="checkbox" ng-model="days.day_2"  ng-checked="isAvail(2)" />
																				Tuesday
																				</label>
																				<br />
																				<label>
																					<input type="checkbox" ng-model="days.day_3"  ng-checked="isAvail(3)" />
																				Wednesday
																				</label>
																				<br />
																				<label>
																					<input type="checkbox" ng-model="days.day_4"  ng-checked="isAvail(4)" />
																				Thursday
																				</label>
																				<br />
																				<label>
																					<input type="checkbox" ng-model="days.day_5"  ng-checked="isAvail(5)" />
																				Friday
																				</label>
																				<br />
																				<label>
																					<input type="checkbox" ng-model="days.day_6"  ng-checked="isAvail(6)" />
																				Saturday
																				</label>
																				<br />
																				<label>
																					<input type="checkbox" ng-model="days.day_0"  ng-checked="isAvail(0)" />
																				Sunday
																				</label>
																			</div>




                                      <div class="form-group">
  																			<label>Allow Buying of coins:</label>

  																				<select type="checkbox" ng-model="atm.has_buy_option"  class="form-control ">
                                            <option value="no">No</option>
                                            <option value="yes">Yes</option>
                                          </select>

                                      </div>


                                      <div class="form-group">
                                        <label>Allow Sell of coins:</label>

                                          <select type="checkbox" ng-model="atm.has_sell_option"  class="form-control ">
                                            <option value="no">No</option>
                                            <option value="yes">Yes</option>
                                          </select>

                                      </div>










                                </div>
                                <div class="card-footer ">
                                    <button type="submit" class="btn btn-fill btn-info">Submit</button>
                                </div>
                            </div>
                            </form>
                        </div>



                    </div>
                </div>



<style>
.gllpMap	{ width: 500px; height: 250px; }
</style>


<script>
  $(document).ready(function() {
    // Copy the init code from "jquery-gmaps-latlon-picker.js" and extend it here
    $(".gllpLatlonPicker").each(function() {
      $obj = $(document).gMapsLatLonPicker();

      $obj.params.strings.markerText = "Drag this Marker (example edit)";

      $obj.params.displayError = function(message) {
        console.log("MAPS ERROR: " + message); // instead of alert()
      };

      $obj.init( $(this) );
    });
  });
</script>
