<div class="container-fluid">
 <div class="row">
     <div class="col-md-12">
         <div class="card data-tables">
             <div class="card-body table-striped table-no-bordered table-hover dataTable dtr-inline table-full-width">
                 <div class="toolbar">
                     <!--        Here you can write extra buttons/actions for the toolbar              -->
                 </div>
                 <div class="fresh-datatables" ng-if="show">
                     <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                         <thead>
                             <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Phone Number</th>
																<th>Commission</th>
                                <th style=" width: 300px; ">Address</th>
                                 <th>Options Available</th>

                                 <th class="disabled-sorting text-right">Actions</th>
                             </tr>
                         </thead>
                         <tfoot>
                             <tr>
                               <th>Id</th>
                                <th>Title</th>
																<th>Phone Number</th>
																<th>Commission</th>
                                <th>Address</th>

                                 <th>Options Available</th>
                                 <th class="text-right">Actions</th>
                             </tr>
                         </tfoot>
                         <tbody>
                             <tr ng-repeat="faq in atms track by $index">

                                 <td>{{faq.id}}</td>
                                 <td>{{faq.title}}</td>
																 <td>{{faq.phone_number}}</td>
                                 <td>{{faq.commission}}</td>
                                 <td>{{faq.address}}</td>
                                  <td>
                                    <span class="badge badge-pill badge-danger" ng-if="faq.has_sell_option">Sell</span>&nbsp;
                                    <span class="badge badge-pill badge-success" ng-if="faq.has_buy_option">Buy</span>
                                  </td>
                                 <td class="text-right">
                                     <!-- <a href="#" class="btn btn-link btn-info like"><i class="fa fa-heart"></i></a> -->
                                     <a title="Edit ATM" href="/admin_panel/atms/edit/{{faq.id}}" class="btn btn-link btn-warning edit"><i class="fa fa-edit"></i></a>
                                     <a title="Delete ATM" ng-click="requestToDelete(faq.id)" class="btn btn-link btn-danger remove"><i class="fa fa-times"></i></a>
                                 </td>
                             </tr>

                         </tbody>
                     </table>
                 </div>
             </div>
         </div>
     </div>
 </div>
</div>
