<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
        <div class="card-head">
          <h3>Users - Members</h3>
        </div>
          <div class="card data-tables">
              <div class="card-body table-striped table-no-bordered table-hover dataTable dtr-inline table-full-width">
                  <div class="toolbar">
                      <!--        Here you can write extra buttons/actions for the toolbar              -->
                  </div>
                  <div class="fresh-datatables" ng-if="show">
                      <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                          <thead>
                              <tr>
                                 <th>Id</th>
                                 <th>Name</th>
                                 <th>Email</th>
 																<th>Phone Number</th>
 																<th>Address</th>
 																<th>Identity Proof</th>

                                  <th>User Since</th>
                                   <th>KYC Status</th>
 																 <th>Status</th>

                                  <th class="disabled-sorting text-right">Actions</th>
                              </tr>
                          </thead>
                          <tfoot>
                              <tr>
                                <th>Id</th>
                                 <th>Name</th>
                                 <th>Email</th>
 																<th>Phone Number</th>
 																<th>Address</th>
 																<th>Identity Proof</th>

                                 <th>User Since</th>

                                 <th>Status</th>
                                  <th>KYC Status</th>
                                  <th class="text-right">Actions</th>
                              </tr>
                          </tfoot>
                          <tbody>
                              <tr ng-repeat="user in users track by $index" ng-if="user.role != 'admin' " >

                                  <td>{{user.id}}</td>
                                  <td>{{user.name}}</td>
                                  <td>{{user.email}}</td>
 																 <td>{{user.phone_number}}</td>
 																 <td>{{user.location}}<br >{{user.city}}, {{user.zipcode}}</td>
                                  <td>{{user.kyc_1_text}}
                                    <br />
 																   <a title="Open in new tab" ng-if="user.kyc_1_path !='' && user.kyc_1_path != null " target="_blank" href="/downloads/kyc/{{user.kyc_1_path}}" class="btn btn-link btn-primary"><i class="fa fa-external-link-square-alt"></i></a>

                                   <a download title="Download File" ng-if="user.kyc_1_path !='' && user.kyc_1_path != null "  href="/downloads/kyc/{{user.kyc_1_path}}" class="btn btn-link btn-primary"><i class="fa fa-download"></i></a>

                                   <a title="Print File" ng-if="user.kyc_1_path !='' && user.kyc_1_path != null "  href="" ng-click="printKYC(user.kyc_1_path)" class="btn btn-link btn-primary"><i class="fa fa-print"></i></a>

 																	 </td>

                                  <td style="width:100px">{{user.created_at | date:'medium'}}</td>

                                  <td ng-if="user.kyc_done && user.kyc_approved">Approved</td>
                                  <td ng-if="user.kyc_done && user.kyc_rejected">Rejected</td>
 																 <td ng-if="!user.kyc_approved && !user.kyc_rejected && user.kyc_done">KYC Done</td>
                                  <td ng-if="!user.kyc_approved && !user.kyc_rejected && !user.kyc_done">KYC Pending</td>
                                 <td>
                                     {{user.role}} -
                                     <span ng-if="!user.status">Banned</span>
                                     <span ng-if="user.status">Active</span>

                                  </td>

                                  <td class="text-right">

                                    <a ng-if="user.role == 'admin' && user.id!=cur_id" ng-click="requestToMember(user.id)" class="btn btn-link btn-success " title="Remove Admin Permissions"> <i class="fa fa-user-shield"></i></a>

                                    <a ng-if="user.role != 'admin' " ng-click="requestToAdmin(user.id)" class="btn btn-link btn-danger " title="Make Admin"> <i class="fa fa-user-shield"></i></a>

                                    <a  ng-if="user.status" ng-click="requestToBan(user.id)" class="btn btn-link btn-warning " title="Ban User"> <i class="fa fa-ban"></i></a>
                                    <a  ng-if="!user.status" ng-click="requestToUnBan(user.id)" class="btn btn-link btn-warning " title="Un-Ban User"> <i class="fa fa-thumbs-up"></i></a>
                                    <a  ng-if="!user.kyc_approved && !user.kyc_rejected && user.kyc_done" ng-click="requestToApprove(user.id)" class="btn btn-link btn-success approve" title="Approve KYC"> <i class="fa fa-check"></i></a>
                                    <a title="Reject KYC" ng-if="!user.kyc_approved && !user.kyc_rejected && user.kyc_done" ng-click="requestToRejectKYC(user.id)" class="btn btn-link btn-danger remove"><i class="fa fa-times"></i></a>

                                    <a title="Delete User" ng-if="user.role!='admin' " ng-click="requestToDelete(user.id)" class="btn btn-link btn-danger remove"><i class="fa fa-trash-alt"></i></a>
                                  </td>
                              </tr>

                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>






  <div class="row">
      <div class="col-md-12">

          <div class="card-head">
            <h3>Users - Admin</h3>
          </div>
          <div class="card data-tables">
              <div class="card-body table-striped table-no-bordered table-hover dataTable dtr-inline table-full-width">
                  <div class="toolbar">
                      <!--        Here you can write extra buttons/actions for the toolbar              -->
                  </div>
                  <div class="fresh-datatables" ng-if="show">
                      <table id="datatables2" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                          <thead>
                              <tr>
                                 <th>Id</th>
                                 <th>Name</th>
                                 <th>Email</th>
 																<th>Phone Number</th>
 																<th>Address</th>
 																<th>Identity Proof</th>

                                  <th>User Since</th>
                                   <th>Banned</th>
 																 <th>Status</th>

                                  <th class="disabled-sorting text-right">Actions</th>
                              </tr>
                          </thead>
                          <tfoot>
                              <tr>
                                <th>Id</th>
                                 <th>Name</th>
                                 <th>Email</th>
 																<th>Phone Number</th>
 																<th>Address</th>
 																<th>Identity Proof</th>

                                 <th>User Since</th>

                                 <th>Status</th>
                                  <th>Banned</th>
                                  <th class="text-right">Actions</th>
                              </tr>
                          </tfoot>
                          <tbody>
                              <tr ng-repeat="user in users track by $index" ng-if="user.role == 'admin' " >

                                  <td>{{user.id}}</td>
                                  <td>{{user.name}}</td>
                                  <td>{{user.email}}</td>
 																 <td>{{user.phone_number}}</td>
 																 <td>{{user.location}}<br >{{user.city}}, {{user.zipcode}}</td>
                                  <td>{{user.kyc_1_text}}
                                    <br />
 																   <a title="Open in new tab" ng-if="user.kyc_1_path !='' && user.kyc_1_path != null " target="_blank" href="/downloads/kyc/{{user.kyc_1_path}}" class="btn btn-link btn-primary"><i class="fa fa-external-link-square-alt"></i></a>

                                   <a download title="Download File" ng-if="user.kyc_1_path !='' && user.kyc_1_path != null "  href="/downloads/kyc/{{user.kyc_1_path}}" class="btn btn-link btn-primary"><i class="fa fa-download"></i></a>

                                   <a title="Print File" ng-if="user.kyc_1_path !='' && user.kyc_1_path != null "  href="" ng-click="printKYC(user.kyc_1_path)" class="btn btn-link btn-primary"><i class="fa fa-print"></i></a>

 																	 </td>

                                  <td style="width:100px">{{user.created_at | date:'medium'}}</td>

                                  <td ng-if="user.kyc_approved">Approved</td>
 																 <td ng-if="!user.kyc_approved && user.kyc_done">KYC Done</td>
                                  <td ng-if="!user.kyc_approved && !user.kyc_done">KYC Pending</td>
                                 <td>
                                     {{user.role}} -
                                     <span ng-if="!user.status">Banned</span>
                                     <span ng-if="user.status">Active</span>

                                  </td>

                                  <td class="text-right">

                                    	<a title="Remove Admin Permissions"  ng-if="user.role == 'admin' && user.id!=cur_id" ng-click="requestToMember(user.id)" class="btn btn-link btn-success " title="Remove Admin Permissions"> <i class="fa fa-user-shield"></i></a>

                                      <a  title="Make Admin" ng-if="user.role != 'admin' " ng-click="requestToAdmin(user.id)" class="btn btn-link btn-danger " title="Make Admin"> <i class="fa fa-user-shield"></i></a>

                                    	<a  ng-if="user.status" ng-click="requestToBan(user.id)" class="btn btn-link btn-warning " title="Ban User"> <i class="fa fa-ban"></i></a>

                                      <a  ng-if="!user.status" ng-click="requestToUnBan(user.id)" class="btn btn-link btn-warning " title="Un-Ban User"> <i class="fa fa-thumbs-up"></i></a>

 																		  <a ng-if="!user.kyc_approved && !user.kyc_rejected && user.kyc_done" ng-click="requestToApprove(user.id)" class="btn btn-link btn-success approve" title="Approve KYC"> <i class="fa fa-check"></i></a>

                                      <a title="Reject KYC" ng-if="!user.kyc_approved && !user.kyc_rejected && user.kyc_done" ng-click="requestToRejectKYC(user.id)" class="btn btn-link btn-danger remove"><i class="fa fa-times"></i></a>

                                      <a title="Delete User" ng-if="user.role!='admin' " ng-click="requestToDelete(user.id)" class="btn btn-link btn-danger remove"><i class="fa fa-trash-alt"></i></a>
                                  </td>
                              </tr>

                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
