p,
ul {
    font-size: .938rem
}

.navbar.navbar-dark,
.navbar.navbar-light {
    min-height: 65px
}

body {
    overflow-x: hidden;
    line-height: 1.6;
    letter-spacing: .25px
}

ul {
    list-style: none
}

.btn-gradient-blue,
.btn-gradient-orange {
    -webkit-transition: .5s;
    -o-transition: .5s;
    -moz-transition: .5s;
    -webkit-background-size: 200% auto
}
.btn {
    color: #FFF
}

.btn.btn-square {
    border-radius: 0
}

.btn.btn-round {
    border-radius: 2rem
}

.btn.active,
.btn.focus,
.btn:active,
.btn:focus {
    outline: 0;
    -webkit-box-shadow: none!important;
    box-shadow: none!important
}

.btn-gradient-blue {
    transition: .5s;
    background-image: -webkit-linear-gradient(50deg, #28BCFD 20%, #1D78FF 51%, #28BCFD 90%);
    background-image: -moz-linear-gradient(50deg, #28BCFD 20%, #1D78FF 51%, #28BCFD 90%);
    background-image: -o-linear-gradient(50deg, #28BCFD 20%, #1D78FF 51%, #28BCFD 90%);
    background-image: linear-gradient(40deg, #28BCFD 20%, #1D78FF 51%, #28BCFD 90%);
    background-position: left center;
    background-size: 200% auto;
    border: 0;
    color: #FFF
}

.btn-gradient-blue:active,
.btn-gradient-blue:hover {
    background-position: right center;
    text-decoration: none;
    color: #FFF
}

.btn-gradient-blue:not(:disabled):not(.disabled):active {
    background-image: -webkit-linear-gradient(50deg, #28BCFD 0, #1D78FF 51%, #28BCFD 90%);
    background-image: -moz-linear-gradient(50deg, #28BCFD 0, #1D78FF 51%, #28BCFD 90%);
    background-image: -o-linear-gradient(50deg, #28BCFD 0, #1D78FF 51%, #28BCFD 90%);
    background-image: linear-gradient(40deg, #28BCFD 0, #1D78FF 51%, #28BCFD 90%)
}

.btn-gradient-blue.btn-glow {
    -webkit-box-shadow: 0 0 12px 0 #1F87FF;
    box-shadow: 0 0 12px 0 #1F87FF
}

.btn-gradient-orange {
    transition: .5s;
    background-image: -webkit-linear-gradient(50deg, #FF4137 20%, #FDC800 51%, #FF4137 90%);
    background-image: -moz-linear-gradient(50deg, #FF4137 20%, #FDC800 51%, #FF4137 90%);
    background-image: -o-linear-gradient(50deg, #FF4137 20%, #FDC800 51%, #FF4137 90%);
    background-image: linear-gradient(40deg, #FF4137 20%, #FDC800 51%, #FF4137 90%);
    background-position: left center;
    background-size: 200% auto;
    border: 0;
    color: #FFF
}

.btn-gradient-orange:active,
.btn-gradient-orange:hover {
    background-position: right center;
    text-decoration: none;
    color: #FFF
}

.btn-gradient-orange:not(:disabled):not(.disabled):active {
    background-image: -webkit-linear-gradient(50deg, #FF4137 0, #FDC800 51%, #FF4137 90%);
    background-image: -moz-linear-gradient(50deg, #FF4137 0, #FDC800 51%, #FF4137 90%);
    background-image: -o-linear-gradient(50deg, #FF4137 0, #FDC800 51%, #FF4137 90%);
    background-image: linear-gradient(40deg, #FF4137 0, #FDC800 51%, #FF4137 90%)
}

.btn-gradient-orange.btn-glow {
    -webkit-box-shadow: 0 0 12px 0 #FF5F2B;
    box-shadow: 0 0 12px 0 #FF5F2B
}

.btn-gradient-purple {
    -webkit-transition: .5s;
    -o-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
    background-image: -webkit-linear-gradient(50deg, #BF68E6 20%, #9E48CD 51%, #BF68E6 90%);
    background-image: -moz-linear-gradient(50deg, #BF68E6 20%, #9E48CD 51%, #BF68E6 90%);
    background-image: -o-linear-gradient(50deg, #BF68E6 20%, #9E48CD 51%, #BF68E6 90%);
    background-image: linear-gradient(40deg, #BF68E6 20%, #9E48CD 51%, #BF68E6 90%);
    background-position: left center;
    -webkit-background-size: 200% auto;
    background-size: 200% auto;
    border: 0;
    color: #FFF
}

.main-menu .dropdown-item.active,
.navbar.navbar-absolute {
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    -moz-transition: all .5s ease
}

.btn-gradient-purple:active,
.btn-gradient-purple:hover {
    background-position: right center;
    text-decoration: none;
    color: #FFF
}

.btn-gradient-purple:not(:disabled):not(.disabled):active {
    background-image: -webkit-linear-gradient(50deg, #BF68E6 0, #9E48CD 51%, #BF68E6 90%);
    background-image: -moz-linear-gradient(50deg, #BF68E6 0, #9E48CD 51%, #BF68E6 90%);
    background-image: -o-linear-gradient(50deg, #BF68E6 0, #9E48CD 51%, #BF68E6 90%);
    background-image: linear-gradient(40deg, #BF68E6 0, #9E48CD 51%, #BF68E6 90%)
}

.btn-gradient-purple.btn-glow {
    -webkit-box-shadow: 0 0 12px 0 #9E48CD;
    box-shadow: 0 0 12px 0 #9E48CD
}

.btn-light {
    color: #7D7D7D
}

.btn-light.btn-glow {
    -webkit-box-shadow: 0 0 12px 0 #FFF;
    box-shadow: 0 0 12px 0 #FFF
}

.form-control {
    border-radius: 0;
    border: none;
    border: 1px solid #ccc;
    color: #3F3F3F;
    font-size: .875rem;
    padding: 1rem .5rem;
    margin-bottom: 3.5rem;
    background: 0 0
}

.form-control:focus {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    background: 0 0
}

.dropdown-toggle::after {
    font-family: themify;
    content: '\e64b';
    border: none;
    position: relative;
    top: 1px;
    right: 0;
    padding: 0 2px 0 6px;
    margin: 0 .3em 0 0;
    vertical-align: 0;
    font-size: .6rem;
    font-weight: 700
}

.clock-counter .flip .inn,
.clock-counter .flip-clock-divider .flip-clock-label {
    font-family: Comfortaa, Roboto, 'Helvetica Neue', Arial, sans-serif
}

.main-menu .dropdown-item.active {
    background: 0 0;
    padding-left: 20px!important;
    transition: all .5s ease
}

:focus {
    outline: 0!important
}

.font-xlarge {
    font-size: 2.75rem
}

.font-large {
    font-size: 2rem;
    line-height: 2rem
}

.font-medium {
    font-size: 1.125rem
}

.font-small {
    font-size: .875rem
}

.font-xsmall {
    font-size: .75rem
}

.grey-accent1 {
    color: #161616
}

.grey-accent2 {
    color: #7D7D7D
}

.grey-accent3 {
    color: #3F3F3F
}

.white {
    color: #FFF
}

.black {
    color: #000
}

.box-shadow-0 {
    -webkit-box-shadow: none!important;
    box-shadow: none!important
}

.box-shadow-1 {
    -webkit-box-shadow: 0 7px 12px 0 rgba(29, 120, 255, .16);
    box-shadow: 0 7px 12px 0 rgba(29, 120, 255, .16)
}

.box-shadow-2 {
    -webkit-box-shadow: 0 10px 18px 0 rgba(29, 120, 255, .2);
    box-shadow: 0 10px 18px 0 rgba(29, 120, 255, .2)
}

.box-shadow-3 {
    -webkit-box-shadow: 0 14px 24px 0 rgba(29, 120, 255, .26);
    box-shadow: 0 14px 24px 0 rgba(29, 120, 255, .26)
}

.box-shadow-4 {
    -webkit-box-shadow: 0 16px 28px 0 rgba(29, 120, 255, .3);
    box-shadow: 0 16px 28px 0 rgba(29, 120, 255, .3)
}

.box-shadow-5 {
    -webkit-box-shadow: 0 27px 24px 0 rgba(29, 120, 255, .36);
    box-shadow: 0 27px 24px 0 rgba(29, 120, 255, .36)
}

.line-height-1 {
    line-height: .5rem
}

.line-height-2 {
    line-height: 1rem
}

.line-height-3 {
    line-height: 1.5rem
}

@media (max-width:575.98px) {
    .ml-xs-0 {
        margin-left: 0!important
    }
    .mr-xs-0 {
        margin-right: 0!important
    }
    .mt-xs-3 {
        margin-top: 1rem!important
    }
    .mr-xs-3 {
        margin-right: 1rem!important
    }
    .ml-xs-3 {
        margin-left: 1rem!important
    }
    .mt-xs-5 {
        margin-top: 3rem!important
    }
    .mb-xs-5 {
        margin-bottom: 3rem!important
    }
    .pt-xs-3 {
        padding-top: 1rem!important
    }
    .pt-xs-5 {
        padding-top: 3rem!important
    }
    .pb-xs-5 {
        padding-bottom: 3rem!important
    }
}

.maskUp {
    -webkit-animation-name: maskUp;
    -moz-animation-name: maskUp;
    -o-animation-name: maskUp;
    animation-name: maskUp
}

.maskRight {
    -webkit-animation-name: maskRight;
    -moz-animation-name: maskRight;
    -o-animation-name: maskRight;
    animation-name: maskRight
}

.maskDown {
    -webkit-animation-name: maskDown;
    -moz-animation-name: maskDown;
    -o-animation-name: maskDown;
    animation-name: maskDown
}

.maskLeft {
    -webkit-animation-name: maskLeft;
    -moz-animation-name: maskLeft;
    -o-animation-name: maskLeft;
    animation-name: maskLeft
}

@-webkit-keyframes maskUp {
    from {
        -webkit-transform: translate(0, 100%);
        transform: translate(0, 100%)
    }
    to {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@-moz-keyframes maskUp {
    from {
        -moz-transform: translate(0, 100%);
        transform: translate(0, 100%)
    }
    to {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@-o-keyframes maskUp {
    from {
        -o-transform: translate(0, 100%);
        transform: translate(0, 100%)
    }
    to {
        -o-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@keyframes maskUp {
    from {
        -webkit-transform: translate(0, 100%);
        -moz-transform: translate(0, 100%);
        -o-transform: translate(0, 100%);
        transform: translate(0, 100%)
    }
    to {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@-webkit-keyframes maskRight {
    from {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
    to {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@-moz-keyframes maskRight {
    from {
        -moz-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
    to {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@-o-keyframes maskRight {
    from {
        -o-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
    to {
        -o-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@keyframes maskRight {
    from {
        -webkit-transform: translate(-100%, 0);
        -moz-transform: translate(-100%, 0);
        -o-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
    to {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@-webkit-keyframes maskDown {
    from {
        -webkit-transform: translate(0, -100%);
        transform: translate(0, -100%)
    }
    to {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@-moz-keyframes maskDown {
    from {
        -moz-transform: translate(0, -100%);
        transform: translate(0, -100%)
    }
    to {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@-o-keyframes maskDown {
    from {
        -o-transform: translate(0, -100%);
        transform: translate(0, -100%)
    }
    to {
        -o-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@keyframes maskDown {
    from {
        -webkit-transform: translate(0, -100%);
        -moz-transform: translate(0, -100%);
        -o-transform: translate(0, -100%);
        transform: translate(0, -100%)
    }
    to {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@-webkit-keyframes maskLeft {
    from {
        -webkit-transform: translate(100%, 0);
        transform: translate(100%, 0)
    }
    to {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@-moz-keyframes maskLeft {
    from {
        -moz-transform: translate(100%, 0);
        transform: translate(100%, 0)
    }
    to {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@-o-keyframes maskLeft {
    from {
        -o-transform: translate(100%, 0);
        transform: translate(100%, 0)
    }
    to {
        -o-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@keyframes maskLeft {
    from {
        -webkit-transform: translate(100%, 0);
        -moz-transform: translate(100%, 0);
        -o-transform: translate(100%, 0);
        transform: translate(100%, 0)
    }
    to {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

.fadeInUpShorter {
    -webkit-animation-name: fadeInUpShorter;
    -moz-animation-name: fadeInUpShorter;
    -o-animation-name: fadeInUpShorter;
    animation-name: fadeInUpShorter
}

.fadeInUpShortest {
    -webkit-animation-name: fadeInUpShortest;
    -moz-animation-name: fadeInUpShortest;
    -o-animation-name: fadeInUpShortest;
    animation-name: fadeInUpShortest
}

.fadeInLeftShorter {
    -webkit-animation-name: fadeInLeftShorter;
    -moz-animation-name: fadeInLeftShorter;
    -o-animation-name: fadeInLeftShorter;
    animation-name: fadeInLeftShorter
}

.fadeInRightShorter {
    -webkit-animation-name: fadeInRightShorter;
    -moz-animation-name: fadeInRightShorter;
    -o-animation-name: fadeInRightShorter;
    animation-name: fadeInRightShorter
}

.fadeInDownShorter {
    -webkit-animation-name: fadeInDownShorter;
    -moz-animation-name: fadeInDownShorter;
    -o-animation-name: fadeInDownShorter;
    animation-name: fadeInDownShorter
}

.fadeInDownShorterAbsCenter {
    -webkit-animation-name: fadeInDownShorterAbsCenter;
    -moz-animation-name: fadeInDownShorterAbsCenter;
    -o-animation-name: fadeInDownShorterAbsCenter;
    animation-name: fadeInDownShorterAbsCenter
}

@-webkit-keyframes fadeInUpShorter {
    from {
        opacity: 0;
        -webkit-transform: translate(0, 50px);
        transform: translate(0, 50px)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@-moz-keyframes fadeInUpShorter {
    from {
        opacity: 0;
        -moz-transform: translate(0, 50px);
        transform: translate(0, 50px)
    }
    to {
        opacity: 1;
        -moz-transform: none;
        transform: none
    }
}

@-o-keyframes fadeInUpShorter {
    from {
        opacity: 0;
        -o-transform: translate(0, 50px);
        transform: translate(0, 50px)
    }
    to {
        opacity: 1;
        -o-transform: none;
        transform: none
    }
}

@keyframes fadeInUpShorter {
    from {
        opacity: 0;
        -webkit-transform: translate(0, 50px);
        -moz-transform: translate(0, 50px);
        -o-transform: translate(0, 50px);
        transform: translate(0, 50px)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        transform: none
    }
}

@-webkit-keyframes fadeInUpShortest {
    from {
        opacity: 0;
        -webkit-transform: translate(0, 25px);
        transform: translate(0, 25px)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@-moz-keyframes fadeInUpShortest {
    from {
        opacity: 0;
        -moz-transform: translate(0, 25px);
        transform: translate(0, 25px)
    }
    to {
        opacity: 1;
        -moz-transform: none;
        transform: none
    }
}

@-o-keyframes fadeInUpShortest {
    from {
        opacity: 0;
        -o-transform: translate(0, 25px);
        transform: translate(0, 25px)
    }
    to {
        opacity: 1;
        -o-transform: none;
        transform: none
    }
}

@keyframes fadeInUpShortest {
    from {
        opacity: 0;
        -webkit-transform: translate(0, 25px);
        -moz-transform: translate(0, 25px);
        -o-transform: translate(0, 25px);
        transform: translate(0, 25px)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        transform: none
    }
}

@-webkit-keyframes fadeInLeftShorter {
    from {
        opacity: 0;
        -webkit-transform: translate(50px, 0);
        transform: translate(50px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@-moz-keyframes fadeInLeftShorter {
    from {
        opacity: 0;
        -moz-transform: translate(50px, 0);
        transform: translate(50px, 0)
    }
    to {
        opacity: 1;
        -moz-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@-o-keyframes fadeInLeftShorter {
    from {
        opacity: 0;
        -o-transform: translate(50px, 0);
        transform: translate(50px, 0)
    }
    to {
        opacity: 1;
        -o-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@keyframes fadeInLeftShorter {
    from {
        opacity: 0;
        -webkit-transform: translate(50px, 0);
        -moz-transform: translate(50px, 0);
        -o-transform: translate(50px, 0);
        transform: translate(50px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@-webkit-keyframes fadeInRightShorter {
    from {
        opacity: 0;
        -webkit-transform: translate(-50px, 0);
        transform: translate(-50px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@-moz-keyframes fadeInRightShorter {
    from {
        opacity: 0;
        -moz-transform: translate(-50px, 0);
        transform: translate(-50px, 0)
    }
    to {
        opacity: 1;
        -moz-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@-o-keyframes fadeInRightShorter {
    from {
        opacity: 0;
        -o-transform: translate(-50px, 0);
        transform: translate(-50px, 0)
    }
    to {
        opacity: 1;
        -o-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@keyframes fadeInRightShorter {
    from {
        opacity: 0;
        -webkit-transform: translate(-50px, 0);
        -moz-transform: translate(-50px, 0);
        -o-transform: translate(-50px, 0);
        transform: translate(-50px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@-webkit-keyframes fadeInDownShorter {
    from {
        opacity: 0;
        -webkit-transform: translate(0, -50px);
        transform: translate(0, -50px)
    }
    to {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@-moz-keyframes fadeInDownShorter {
    from {
        opacity: 0;
        -moz-transform: translate(0, -50px);
        transform: translate(0, -50px)
    }
    to {
        opacity: 1;
        -moz-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@-o-keyframes fadeInDownShorter {
    from {
        opacity: 0;
        -o-transform: translate(0, -50px);
        transform: translate(0, -50px)
    }
    to {
        opacity: 1;
        -o-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@keyframes fadeInDownShorter {
    from {
        opacity: 0;
        -webkit-transform: translate(0, -50px);
        -moz-transform: translate(0, -50px);
        -o-transform: translate(0, -50px);
        transform: translate(0, -50px)
    }
    to {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@-webkit-keyframes fadeInDownShorterAbsCenter {
    from {
        opacity: 0;
        -webkit-transform: translate(-50%, -50px);
        transform: translate(-50%, -50px)
    }
    to {
        opacity: 1;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0)
    }
}

@-moz-keyframes fadeInDownShorterAbsCenter {
    from {
        opacity: 0;
        -moz-transform: translate(-50%, -50px);
        transform: translate(-50%, -50px)
    }
    to {
        opacity: 1;
        -moz-transform: translate(-50%, 0);
        transform: translate(-50%, 0)
    }
}

@-o-keyframes fadeInDownShorterAbsCenter {
    from {
        opacity: 0;
        -o-transform: translate(-50%, -50px);
        transform: translate(-50%, -50px)
    }
    to {
        opacity: 1;
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0)
    }
}

@keyframes fadeInDownShorterAbsCenter {
    from {
        opacity: 0;
        -webkit-transform: translate(-50%, -50px);
        -moz-transform: translate(-50%, -50px);
        -o-transform: translate(-50%, -50px);
        transform: translate(-50%, -50px)
    }
    to {
        opacity: 1;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0)
    }
}

.expandIn {
    -webkit-animation-name: expandIn;
    -moz-animation-name: expandIn;
    -o-animation-name: expandIn;
    animation-name: expandIn
}

.blurIn {
    -webkit-animation-name: blurIn;
    -moz-animation-name: blurIn;
    -o-animation-name: blurIn;
    animation-name: blurIn
}

@-webkit-keyframes expandIn {
    from {
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-moz-keyframes expandIn {
    from {
        opacity: 0;
        -moz-transform: scale(.8);
        transform: scale(.8)
    }
    to {
        opacity: 1;
        -moz-transform: scale(1);
        transform: scale(1)
    }
}

@-o-keyframes expandIn {
    from {
        opacity: 0;
        -o-transform: scale(.8);
        transform: scale(.8)
    }
    to {
        opacity: 1;
        -o-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes expandIn {
    from {
        opacity: 0;
        -webkit-transform: scale(.8);
        -moz-transform: scale(.8);
        -o-transform: scale(.8);
        transform: scale(.8)
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes blurIn {
    from {
        opacity: 0;
        -webkit-filter: blur(20px);
        filter: blur(20px);
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }
    to {
        opacity: 1;
        -webkit-filter: blur(0);
        filter: blur(0);
        -webkit-transform: none;
        transform: none
    }
}

@-moz-keyframes blurIn {
    from {
        opacity: 0;
        filter: blur(20px);
        -moz-transform: scale(1.3);
        transform: scale(1.3)
    }
    to {
        opacity: 1;
        filter: blur(0);
        -moz-transform: none;
        transform: none
    }
}

@-o-keyframes blurIn {
    from {
        opacity: 0;
        filter: blur(20px);
        -o-transform: scale(1.3);
        transform: scale(1.3)
    }
    to {
        opacity: 1;
        filter: blur(0);
        -o-transform: none;
        transform: none
    }
}

@keyframes blurIn {
    from {
        opacity: 0;
        -webkit-filter: blur(20px);
        filter: blur(20px);
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -o-transform: scale(1.3);
        transform: scale(1.3)
    }
    to {
        opacity: 1;
        -webkit-filter: blur(0);
        filter: blur(0);
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        transform: none
    }
}

.stepsFadeInUp {
    -webkit-animation-name: stepsFadeInUp;
    -moz-animation-name: stepsFadeInUp;
    -o-animation-name: stepsFadeInUp;
    animation-name: stepsFadeInUp
}

.stepsFadeInLeft {
    -webkit-animation-name: stepsFadeInLeft;
    -moz-animation-name: stepsFadeInLeft;
    -o-animation-name: stepsFadeInLeft;
    animation-name: stepsFadeInLeft
}

.stepsFadeInRight {
    -webkit-animation-name: stepsFadeInRight;
    -moz-animation-name: stepsFadeInRight;
    -o-animation-name: stepsFadeInRight;
    animation-name: stepsFadeInRight
}

@-webkit-keyframes stepsFadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate(-50%, 25%);
        transform: translate(-50%, 25%)
    }
    to {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }
}

@-moz-keyframes stepsFadeInUp {
    from {
        opacity: 0;
        -moz-transform: translate(-50%, 25%);
        transform: translate(-50%, 25%)
    }
    to {
        opacity: 1;
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }
}

@-o-keyframes stepsFadeInUp {
    from {
        opacity: 0;
        -o-transform: translate(-50%, 25%);
        transform: translate(-50%, 25%)
    }
    to {
        opacity: 1;
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }
}

@keyframes stepsFadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate(-50%, 25%);
        -moz-transform: translate(-50%, 25%);
        -o-transform: translate(-50%, 25%);
        transform: translate(-50%, 25%)
    }
    to {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }
}

@-webkit-keyframes stepsFadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate(-75%, -50%);
        transform: translate(-75%, -50%)
    }
    to {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }
}

@-moz-keyframes stepsFadeInLeft {
    from {
        opacity: 0;
        -moz-transform: translate(-75%, -50%);
        transform: translate(-75%, -50%)
    }
    to {
        opacity: 1;
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }
}

@-o-keyframes stepsFadeInLeft {
    from {
        opacity: 0;
        -o-transform: translate(-75%, -50%);
        transform: translate(-75%, -50%)
    }
    to {
        opacity: 1;
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }
}

@keyframes stepsFadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate(-75%, -50%);
        -moz-transform: translate(-75%, -50%);
        -o-transform: translate(-75%, -50%);
        transform: translate(-75%, -50%)
    }
    to {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }
}

@-webkit-keyframes stepsFadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate(-25%, -50%);
        transform: translate(-25%, -50%)
    }
    to {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }
}

@-moz-keyframes stepsFadeInRight {
    from {
        opacity: 0;
        -moz-transform: translate(-25%, -50%);
        transform: translate(-25%, -50%)
    }
    to {
        opacity: 1;
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }
}

@-o-keyframes stepsFadeInRight {
    from {
        opacity: 0;
        -o-transform: translate(-25%, -50%);
        transform: translate(-25%, -50%)
    }
    to {
        opacity: 1;
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }
}

@keyframes stepsFadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate(-25%, -50%);
        -moz-transform: translate(-25%, -50%);
        -o-transform: translate(-25%, -50%);
        transform: translate(-25%, -50%)
    }
    to {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }
}

.textBgFadeInUp {
    -webkit-animation-name: textBgFadeInUp;
    -moz-animation-name: textBgFadeInUp;
    -o-animation-name: textBgFadeInUp;
    animation-name: textBgFadeInUp
}

.textBgFadeInUpDark {
    -webkit-animation-name: textBgFadeInUpDark;
    -moz-animation-name: textBgFadeInUpDark;
    -o-animation-name: textBgFadeInUpDark;
    animation-name: textBgFadeInUpDark
}

.textBgFadeInUp2 {
    -webkit-animation-name: textBgFadeInUp2;
    -moz-animation-name: textBgFadeInUp2;
    -o-animation-name: textBgFadeInUp2;
    animation-name: textBgFadeInUp2
}

@-webkit-keyframes textBgFadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate(-50%, 200%);
        transform: translate(-50%, 200%)
    }
    to {
        opacity: .06;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0)
    }
}

@-moz-keyframes textBgFadeInUp {
    from {
        opacity: 0;
        -moz-transform: translate(-50%, 200%);
        transform: translate(-50%, 200%)
    }
    to {
        opacity: .06;
        -moz-transform: translate(-50%, 0);
        transform: translate(-50%, 0)
    }
}

@-o-keyframes textBgFadeInUp {
    from {
        opacity: 0;
        -o-transform: translate(-50%, 200%);
        transform: translate(-50%, 200%)
    }
    to {
        opacity: .06;
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0)
    }
}

@keyframes textBgFadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate(-50%, 200%);
        -moz-transform: translate(-50%, 200%);
        -o-transform: translate(-50%, 200%);
        transform: translate(-50%, 200%)
    }
    to {
        opacity: .06;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0)
    }
}

@-webkit-keyframes textBgFadeInUpDark {
    from {
        opacity: 0;
        -webkit-transform: translate(-50%, 200%);
        transform: translate(-50%, 200%)
    }
    to {
        opacity: .02;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0)
    }
}

@-moz-keyframes textBgFadeInUpDark {
    from {
        opacity: 0;
        -moz-transform: translate(-50%, 200%);
        transform: translate(-50%, 200%)
    }
    to {
        opacity: .02;
        -moz-transform: translate(-50%, 0);
        transform: translate(-50%, 0)
    }
}

@-o-keyframes textBgFadeInUpDark {
    from {
        opacity: 0;
        -o-transform: translate(-50%, 200%);
        transform: translate(-50%, 200%)
    }
    to {
        opacity: .02;
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0)
    }
}

@keyframes textBgFadeInUpDark {
    from {
        opacity: 0;
        -webkit-transform: translate(-50%, 200%);
        -moz-transform: translate(-50%, 200%);
        -o-transform: translate(-50%, 200%);
        transform: translate(-50%, 200%)
    }
    to {
        opacity: .02;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0)
    }
}

@-webkit-keyframes textBgFadeInUp2 {
    from {
        opacity: 0;
        -webkit-transform: translate(-50%, 200%);
        transform: translate(-50%, 200%)
    }
    to {
        opacity: .5;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0)
    }
}

@-moz-keyframes textBgFadeInUp2 {
    from {
        opacity: 0;
        -moz-transform: translate(-50%, 200%);
        transform: translate(-50%, 200%)
    }
    to {
        opacity: .5;
        -moz-transform: translate(-50%, 0);
        transform: translate(-50%, 0)
    }
}

@-o-keyframes textBgFadeInUp2 {
    from {
        opacity: 0;
        -o-transform: translate(-50%, 200%);
        transform: translate(-50%, 200%)
    }
    to {
        opacity: .5;
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0)
    }
}

@keyframes textBgFadeInUp2 {
    from {
        opacity: 0;
        -webkit-transform: translate(-50%, 200%);
        -moz-transform: translate(-50%, 200%);
        -o-transform: translate(-50%, 200%);
        transform: translate(-50%, 200%)
    }
    to {
        opacity: .5;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0)
    }
}

.fadeInScale {
    -webkit-animation-name: fadeInScale;
    -moz-animation-name: fadeInScale;
    -o-animation-name: fadeInScale;
    animation-name: fadeInScale
}

@-webkit-keyframes fadeInScale {
    from {
        opacity: 0;
        -webkit-transform: scale(.7);
        transform: scale(.7)
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-moz-keyframes fadeInScale {
    from {
        opacity: 0;
        -moz-transform: scale(.7);
        transform: scale(.7)
    }
    to {
        opacity: 1;
        -moz-transform: scale(1);
        transform: scale(1)
    }
}

@-o-keyframes fadeInScale {
    from {
        opacity: 0;
        -o-transform: scale(.7);
        transform: scale(.7)
    }
    to {
        opacity: 1;
        -o-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        -webkit-transform: scale(.7);
        -moz-transform: scale(.7);
        -o-transform: scale(.7);
        transform: scale(.7)
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
}

.scaleOut {
    -webkit-animation-name: scaleOut;
    -moz-animation-name: scaleOut;
    -o-animation-name: scaleOut;
    animation-name: scaleOut
}

@-webkit-keyframes scaleOut {
    from {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-moz-keyframes scaleOut {
    from {
        -moz-transform: scale(1.1);
        transform: scale(1.1)
    }
    to {
        -moz-transform: scale(1);
        transform: scale(1)
    }
}

@-o-keyframes scaleOut {
    from {
        -o-transform: scale(1.1);
        transform: scale(1.1)
    }
    to {
        -o-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes scaleOut {
    from {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1)
    }
    to {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
}

.particles-js-canvas-el {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100vh!important
}

@-webkit-keyframes k1 {
    0% {
        -webkit-transform: scale(.01);
        transform: scale(.01);
        opacity: 0
    }
    33% {
        -webkit-transform: scale(.4);
        transform: scale(.4);
        opacity: .8
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}

@-moz-keyframes k1 {
    0% {
        -moz-transform: scale(.01);
        transform: scale(.01);
        opacity: 0
    }
    33% {
        -moz-transform: scale(.4);
        transform: scale(.4);
        opacity: .8
    }
    100% {
        -moz-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}

@-o-keyframes k1 {
    0% {
        -o-transform: scale(.01);
        transform: scale(.01);
        opacity: 0
    }
    33% {
        -o-transform: scale(.4);
        transform: scale(.4);
        opacity: .8
    }
    100% {
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}

@keyframes k1 {
    0% {
        -webkit-transform: scale(.01);
        -moz-transform: scale(.01);
        -o-transform: scale(.01);
        transform: scale(.01);
        opacity: 0
    }
    33% {
        -webkit-transform: scale(.4);
        -moz-transform: scale(.4);
        -o-transform: scale(.4);
        transform: scale(.4);
        opacity: .8
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}

.ripples:after,
.ripples:before {
    content: '';
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute
}

.bg-ripple-animation {
    overflow: hidden;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0
}

.left-bottom-ripples {
    margin-bottom: -80vh;
    margin-left: -80vh;
    width: 160vh;
    height: 160vh;
    position: absolute;
    left: 0;
    bottom: 0
}

.intro-video-bg-ripples {
    margin-top: 21vh;
    margin-left: -6vh;
    width: 140vh;
    height: 140vh;
    position: absolute;
    left: 0
}

.top-right-ripples {
    margin-top: -80vh;
    margin-right: -80vh;
    width: 160vh;
    height: 160vh;
    position: absolute;
    top: 0;
    right: 0
}

.clock-counter .flip-clock-divider {
    width: 16px
}

.clock-counter .flip-clock-divider:first-child {
    width: 0
}

.clock-counter .flip-clock-divider .flip-clock-label {
    font-size: .875rem;
    right: -70px
}

.clock-counter .flip-clock-divider.minutes .flip-clock-label,
.clock-counter .flip-clock-divider.seconds .flip-clock-label {
    right: -80px
}

.clock-counter .flip .inn {
    font-size: 2rem;
    font-weight: 600
}

.clock-counter .flip-clock-wrapper ul {
    width: 43px;
    height: 65px;
    background: #FFF!important
}

.clock-counter .flip-clock-wrapper ul li {
    line-height: 4.5rem
}

.clock-counter .flip-clock-wrapper ul li a {
    color: #3F3F3F!important
}

.clock-counter .flip-clock-wrapper ul li a div.up {
    height: 52%;
    top: -2px
}

.clock-counter .flip-clock-wrapper ul li a div.up:after {
    top: 32px;
    height: 1px;
    background-color: #000!important;
    background-color: rgba(0, 0, 0, .4)!important
}

.clock-counter .flip-clock-wrapper ul li a div.down div.inn,
.clock-counter .flip-clock-wrapper ul li a div.up div.inn {
    text-shadow: 0 1px 2px #FFF!important;
    background-color: #FFF!important;
    color: #3F3F3F!important
}

.clock-counter .flip-clock-wrapper ul li a div.down {
    height: 51%
}

.clock-counter .flip-clock-wrapper ul.play li.flip-clock-active .down .shadow,
.clock-counter .flip-clock-wrapper ul.play li.flip-clock-active .up .shadow,
.clock-counter .flip-clock-wrapper ul.play li.flip-clock-before .down .shadow,
.clock-counter .flip-clock-wrapper ul.play li.flip-clock-before .up .shadow {
    background: 0 0!important;
    -webkit-animation: none!important;
    -moz-animation: none!important;
    -o-animation: none!important;
    animation: none!important
}

.clock-counter .flip-clock-wrapper .flip-clock-dot {
    width: 7px;
    height: 7px
}

.clock-counter .flip-clock-wrapper .flip,
.clock-counter .flip-clock-wrapper .flip-clock-dot {
    background: #FFF;
    -webkit-box-shadow: 2px 1px 11px rgba(0, 0, 0, .37)!important;
    box-shadow: 2px 1px 11px rgba(0, 0, 0, .37)!important
}

.clock-counter .flip-clock-wrapper .flip-clock-dot.top,
.clock-counter .flip-clock-wrapper .flip.top {
    top: 24px
}

.clock-counter .flip-clock-wrapper .flip-clock-dot.bottom,
.clock-counter .flip-clock-wrapper .flip.bottom {
    bottom: 48px
}

.clock-counter .flip-clock-wrapper .flip-clock-divider .flip-clock-label,
.clock-counter .flip-clock-wrapper .flip-clock-meridium a {
    color: #FFF!important
}

.alert-minimalist {
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 40px rgba(14, 42, 76, .2);
    box-shadow: 0 5px 40px rgba(14, 42, 76, .2);
    padding: 10px;
    width: 350px;
    z-index: 2147483648!important
}

.alert-minimalist [data-notify=dismiss] {
    color: rgba(149, 149, 149, .7)
}

.alert-minimalist #image {
    float: left
}

.alert-minimalist #image [data-notify=icon] {
    height: 60px;
    margin-right: 12px
}

.alert-minimalist #text {
    float: left;
    margin-top: 2px
}

.alert-minimalist #text [data-notify=title] {
    color: #333;
    line-height: 1rem;
    display: block;
    font-size: 85%;
    font-weight: 700
}

.alert-minimalist #text [data-notify=message] {
    font-size: 80%
}

.alert-minimalist #text [data-notify=message] span.blue {
    color: #28BCFD;
    font-weight: 700
}

.alert-minimalist #text [data-notify=time] {
    display: block;
    font-size: 70%;
    color: rgba(149, 149, 149, .7);
    margin-top: 4px
}

.vertical-social {
    z-index: 999;
    top: 35%!important;
    left: 2%!important;
    width: 44px;
    border-radius: 40px;
    -webkit-box-shadow: 0 4px 13px 0 rgba(0, 0, 0, .4);
    box-shadow: 0 4px 13px 0 rgba(0, 0, 0, .4)
}

.vertical-social .midnightHeader .midnightInner ul {
    margin-bottom: 0;
    padding: 14px 0 8px
}

.vertical-social .midnightHeader .midnightInner ul li {
    padding: 7px 0;
    text-align: center
}

.vertical-social .midnightHeader .midnightInner ul li a {
    opacity: .6;
    font-size: 22px
}

.vertical-social .midnightHeader .midnightInner ul li a:hover {
    text-decoration: none;
    opacity: 1
}

.navbar {
    padding: 0
}

.navbar .navbar-brand {
    font-size: 1.25rem
}

.navbar .navbar-brand img {
    margin-right: .65rem
}

.navbar .navbar-brand .brand-text {
    position: relative;
    top: 2px;
    font-weight: 300;
    text-transform: uppercase
}

.navbar.navbar-absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: 0 0;
    padding: 1.2rem 0;
    transition: all .5s ease
}

.navbar ul.navbar-nav li .nav-link {
    font-size: .8rem;
    color: #FFF;
    font-weight: 700;
    letter-spacing: .5px;
    padding: .21rem 1.5rem;
    text-decoration: none
}

.navbar ul.navbar-nav li::last-child {
    margin-right: .5rem
}

.navbar .dropdown a {
    font-size: .8rem;
    color: #FFF;
    font-weight: 700;
    text-decoration: none;
    padding: 1.9rem .65rem
}

.navbar .dropdown .dropdown-menu {
    background-color: #fff;
    margin-top: 1rem;
    min-width: 200px;
    border: none
}

.navbar .dropdown .dropdown-menu a {
    color: #7D7D7D;
    padding: .5rem .75rem
}

.navbar .dropdown .dropdown-menu a:before {
    font-family: themify;
    content: '\e649';
    padding-right: .5rem;
    font-weight: 700;
    font-size: .55rem;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease
}

.navbar .dropdown .dropdown-menu a.dropdown-item {
    border: none;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease
}

.navbar .dropdown .dropdown-menu a.dropdown-item:active,
.navbar .dropdown .dropdown-menu a.dropdown-item:focus,
.navbar .dropdown .dropdown-menu a.dropdown-item:hover {
    padding-left: 20px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    background-color: transparent
}

.navbar .dropdown .dropdown-menu a.dropdown-item:active:before,
.navbar .dropdown .dropdown-menu a.dropdown-item:focus:before,
.navbar .dropdown .dropdown-menu a.dropdown-item:hover:before {
    left: 10px
}

.navbar .dropdown .dropdown-menu.show {
    border: none;
    -webkit-box-shadow: -1px 2px 25px 0 rgba(0, 0, 0, .09);
    box-shadow: -1px 2px 25px 0 rgba(0, 0, 0, .09)
}

.navbar .dropdown .dropdown-menu.show:before {
    float: right;
    content: '';
    border-bottom: 10px solid #FFF;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    left: 13px;
    top: -8px
}

.navbar.navbar-light a {
    color: #7D7D7D
}

.navbar.navbar-light a.btn {
    color: #FFF
}

.navbar.navbar-light ul.navbar-nav li .nav-link {
    color: #7D7D7D
}

#navigation #slide-line {
    position: absolute;
    bottom: 0;
    height: 4px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease
}

header .navbar.navbar-fixed {
    padding: .75rem 0
}

header .navbar.navbar-shadow {
    -webkit-box-shadow: 0 5px 40px rgba(14, 42, 76, .2);
    box-shadow: 0 5px 40px rgba(14, 42, 76, .2)
}

@media (max-width:1199.98px) {
    .navbar ul.navbar-nav li .nav-link {
        padding-left: .55rem;
        padding-right: .55rem
    }
}

@media (max-width:991.98px) {
    .vertical-social {
        display: none!important
    }
    .main-menu.navbar .dropdown-menu.show:before {
        display: none
    }
    .main-menu.navbar a.navbar-brand {
        padding: .21rem 1rem
    }
    .main-menu.navbar .navbar-toggler {
        margin-right: 1rem;
        border-color: rgba(255, 255, 255, .7)
    }
    .main-menu.navbar div.navbar-nav {
        padding: 1rem 1.5rem
    }
    .main-menu.navbar div.navbar-nav .dropdown {
        padding: 0!important
    }
    .main-menu.navbar div.navbar-nav .nav-link {
        padding: .4rem .65rem
    }
}

.head-area {
    position: relative
}

.head-area .head-content {
    height: 100vh;
    z-index: 6
}

.head-area .head-content h1 {
    color: #FFF;
    font-size: 2.5rem;
    line-height: 2.75rem;
    font-weight: 700
}

.head-area .head-content h3 {
    margin-top: 4.375rem;
    color: #FFF;
    font-size: 1.125rem;
    line-height: 1.9rem;
    font-weight: 700
}

.head-area .head-content .container {
    z-index: 9
}

.about .content-area h4 {
		color: #222;
}

.about .content-area h6 {
    color: #7D7D7D;
    font-size: 1.125rem;
    line-height: 1.5rem
}

.about .content-area .play-video {
    position: absolute;
    top: 78%;
    left: 53%;
    -webkit-transform: translate(-70%, -50%);
    -moz-transform: translate(-70%, -50%);
    -ms-transform: translate(-70%, -50%);
    -o-transform: translate(-70%, -50%);
    transform: translate(-70%, -50%)
}

.about .content-area .play-video .play {
    padding: 1.125rem 1.1rem;
    display: inline-block;
    height: 72px;
    width: 72px
}

.about .content-area .play-video .play:hover {
    text-decoration: none
}

.about .content-area .play-video .play i {
    font-size: 2rem
}

.about .content-area .play-video span {
    display: block;
    color: #3F3F3F;
    font-size: .875rem
}

.exchange-listing .listing,
.roadmap .timeline {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox
}

.exchange-listing .listing {
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.exchange-listing .listing .col {
    margin: 1.75rem 0 .95rem;
    font-weight: 600;
    padding-top: .25rem;
    text-align: center
}

.exchange-listing .listing .col:before {
    content: '';
    border-left: 1px solid #C2C2C2;
    height: 4rem;
    float: left;
    position: relative;
    top: 5px;
    left: -15px
}

.exchange-listing .listing .col:first-child:before {
    border-left: none
}

.exchange-listing .listing .col h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #7D7D7D
}

.dark-bg-heading .sub-title,
.heading .sub-title {
    width: 100%;
    font-size: 5.625rem;
    left: 50%;
    display: block
}

.dark-bg-heading .sub-title,
.heading .sub-title,
.token-sale h5 {
    font-weight: 700;
    text-align: center
}

@media (max-width:575.98px) {
    .exchange-listing .listing .col:nth-child(4):before {
        border-left: none
    }
}

.section-padding {
    padding-top: 5rem;
    padding-bottom: 5rem
}

.dark-bg-heading .title,
.heading .title {
    padding-top: 2.25rem;
    text-transform: uppercase
}

.dark-bg-heading {
    position: relative
}

@media (min-width:768px) {
    .dark-bg-heading {
        margin-bottom: 4rem
    }
}

@media (max-width:991.98px) {
    .exchange-listing .listing .col:nth-child(2):before {
        border-left: none
    }
    .dark-bg-heading {
        margin-bottom: 3rem
    }
}

.dark-bg-heading .title {
    color: #FFF
}

.dark-bg-heading .sub-title {
    color: #DCD6F5;
    position: absolute;
    opacity: .075;
    letter-spacing: 0;
    margin: 0 auto;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
    top: -2px;
    text-transform: uppercase
}

.dark-bg-heading .content-desc {
    font-size: .875rem;
    color: #FFF;
    margin-top: 2.5rem
}

.heading {
    position: relative
}

@media (min-width:768px) {
    .heading {
        margin-bottom: 4rem
    }
}

@media (max-width:991.98px) {
    .heading {
        margin-bottom: 3rem
    }
}

.heading .title {
    color: #161616;
	font-weight: 600;
}

.heading .sub-title {
    color: #DCD6F5;
    position: absolute;
    opacity: .2;
    letter-spacing: 0;
    margin: 0 auto;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
    top: -2px;
    text-transform: uppercase
}

.heading .content-desc {
    color: #3F3F3F;
    margin-top: 2.5rem
}

.whitepaper .content-title {
    color: #7D7D7D
}

.whitepaper .whitepaper-languages a:hover {
    text-decoration: none
}

.whitepaper .whitepaper-languages img {
    border: 8px solid #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 20px 0 rgba(103, 103, 103, .5);
    box-shadow: 0 0 20px 0 rgba(103, 103, 103, .5)
}

.whitepaper .whitepaper-languages .lang-text {
    margin-top: 1rem
}

.whitepaper .whitepaper-languages .lang-text .icon {
    color: #194089
}

.whitepaper .whitepaper-languages .lang-text .language {
    font-size: .875rem;
    color: #7D7D7D
}

.token-sale h5 {
    color: #7D7D7D
}

.token-sale ul.token-sale-info {
    padding-left: 8px;
    font-size: .875rem
}

.token-sale ul.token-sale-info li {
    padding: 1rem 0;
    color: #3F3F3F
}

.token-sale ul.token-sale-info li:before {
    color: #FFF;
    content: '\e65d';
    font-family: themify;
    margin-right: 10px;
    position: absolute;
    left: -3px;
    font-size: 1.125rem;
    margin-top: -4px
}

.mobile-app {
    padding-top: 185px
}

.mobile-app .btn {
    padding: .8rem 1.5rem
}

.mobile-app .mobile-button span {
    padding-right: 2.5rem
}

.mobile-app .app-features {
    padding: 0;
    margin-bottom: 50px
}

.mobile-app .app-features li {
    padding: 14px 0
}

.mobile-app .mobile-app-imgs {
    position: relative;
    margin-top: 60px
}

.mobile-app .mobile-app-imgs .mobile-app-img-2,
.mobile-app .mobile-app-imgs .mobile-app-img-3,
.mobile-app .mobile-app-imgs .mobile-app-img-4 {
    position: absolute
}

.mobile-app .mobile-app-imgs .mobile-app-img-2 {
    top: 60px;
    left: 250px
}

.mobile-app .mobile-app-imgs .mobile-app-img-3 {
    top: -13px;
    left: 237px
}

.mobile-app .mobile-app-imgs .mobile-app-img-4 {
    top: -130px;
    left: 270px
}

.roadmap .roadmap-container {
    position: relative
}

.roadmap .swiper-container {
    width: 90%;
    height: 100%
}

.roadmap .swiper-slide {
    text-align: center;
    font-size: 18px;
    width: 200px;
    border-top: 4px solid #24A8F2
}

.roadmap .swiper-slide .roadmap-info {
    margin-top: 47px
}

.roadmap .swiper-slide.active .roadmap-info {
    background: -webkit-linear-gradient(45deg, #29BEFF, #1C76FE);
    background: -moz-linear-gradient(45deg, #29BEFF, #1C76FE);
    background: -o-linear-gradient(45deg, #29BEFF, #1C76FE);
    background: linear-gradient(45deg, #29BEFF, #1C76FE);
    margin-top: 32px;
    padding: 15px 0 0;
    color: #fff;
    border-radius: 6px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(62, 57, 107, .3);
    box-shadow: 0 10px 30px 0 rgba(62, 57, 107, .3)
}

.roadmap .swiper-slide.active .roadmap-info:after {
    content: '';
    display: block;
    position: absolute;
    top: 12px;
    left: 44%;
    bottom: 100%;
    width: 0;
    height: 0;
    border-bottom: 10px solid #1C76FE;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent
}

.roadmap .swiper-slide.active .live {
    display: block;
    background: -webkit-linear-gradient(45deg, #BF68E6, #9E48CD);
    background: -moz-linear-gradient(45deg, #BF68E6, #9E48CD);
    background: -o-linear-gradient(45deg, #BF68E6, #9E48CD);
    background: linear-gradient(45deg, #BF68E6, #9E48CD);
    padding: 8px 0;
    border-radius: 0 0 6px 6px;
    margin-top: 10px
}

.roadmap .swiper.control {
    position: absolute
}

.roadmap .next-slide,
.roadmap .prev-slide {
    position: absolute;
    top: 0;
    display: inline-block;
    cursor: pointer;
    background: -webkit-linear-gradient(45deg, #BF68E6, #9E48CD);
    background: -moz-linear-gradient(45deg, #BF68E6, #9E48CD);
    background: -o-linear-gradient(45deg, #BF68E6, #9E48CD);
    background: linear-gradient(45deg, #BF68E6, #9E48CD);
    color: #FFF;
    padding: 17px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 6px 0 rgba(255, 95, 43, .6);
    box-shadow: 0 0 6px 0 rgba(255, 95, 43, .6);
    z-index: 9
}

.roadmap .next-slide:focus,
.roadmap .prev-slide:focus {
    outline: 0
}

.roadmap .next-slide {
    right: 22px
}

.roadmap .next-slide:before {
    content: '\e649';
    font-family: themify;
    position: absolute;
    top: 5px;
    left: 10px
}

.roadmap .prev-slide {
    left: 22px
}

.roadmap .prev-slide:before {
    content: '\e64a';
    font-family: themify;
    position: absolute;
    top: 5px;
    left: 8px
}

.roadmap .timestamp span:after,
.roadmap .timestamp span:before {
    content: '';
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    position: absolute
}

.roadmap .timeline {
    margin: 1rem 0 2rem;
    list-style-type: none;
    display: flex;
    padding: 0;
    text-align: center
}

.roadmap .timestamp {
    margin-bottom: 10px;
    color: #7D7D7D;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 100
}

.roadmap .timestamp span {
    font-weight: 700;
    font-size: .875rem;
    line-height: 1.5rem
}

.roadmap .timestamp span:before {
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 25px;
    background: -webkit-linear-gradient(45deg, #29BEFF, #1C76FE);
    background: -moz-linear-gradient(45deg, #29BEFF, #1C76FE);
    background: -o-linear-gradient(45deg, #29BEFF, #1C76FE);
    background: linear-gradient(45deg, #29BEFF, #1C76FE);
    border: none;
    top: -14px;
    left: 42%;
    transition: all .2s ease-in
}

.roadmap .timestamp span:after {
    width: 11px;
    height: 11px;
    background-color: #fff;
    border-radius: 25px;
    top: -7px;
    left: 45.4%;
    transition: all .2s ease-in
}

.roadmap .timestamp.completed span:before {
    content: '\e64c';
    font-family: themify;
    font-size: .75rem;
    line-height: 25px;
    background: -webkit-linear-gradient(45deg, #29BEFF, #1C76FE);
    background: -moz-linear-gradient(45deg, #29BEFF, #1C76FE);
    background: -o-linear-gradient(45deg, #29BEFF, #1C76FE);
    background: linear-gradient(45deg, #29BEFF, #1C76FE);
    border: none;
    color: #FFF
}

.roadmap .timestamp.completed span:after {
    content: '';
    background-color: transparent
}

.roadmap .timestamp.active span {
    color: #FFF
}

.roadmap .timestamp.active span:before {
    content: ' ';
    background: -webkit-linear-gradient(45deg, #BF68E6, #9E48CD);
    background: -moz-linear-gradient(45deg, #BF68E6, #9E48CD);
    background: -o-linear-gradient(45deg, #BF68E6, #9E48CD);
    background: linear-gradient(45deg, #BF68E6, #9E48CD);
    border: none;
    -webkit-box-shadow: 0 0 10px 0 #BF68E6;
    box-shadow: 0 0 10px 0 #BF68E6
}

.roadmap .timestamp.active span:after {
    content: '';
    position: absolute;
    top: -8px;
    left: 45.1%;
    background: #FFF;
    border: 6px solid #FFF;
    border-radius: 50%
}

.roadmap .status {
    position: relative;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    transition: all .2s ease-in;
    line-height: 0
}

.roadmap .status span {
    font-size: .875rem;
    line-height: 1.5rem;
    color: #3F3F3F
}

.roadmap .status.active span {
    color: #FFF
}

.team .team-width span {
    display: block;
    font-size: 2rem;
    font-weight: 700
}

.team .team-img {
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
    background: -webkit-linear-gradient(45deg, #29BEFF, #1C76FE);
    background: -moz-linear-gradient(45deg, #29BEFF, #1C76FE);
    background: -o-linear-gradient(45deg, #29BEFF, #1C76FE);
    background: linear-gradient(45deg, #29BEFF, #1C76FE);
    -webkit-box-shadow: 0 0 12px 0 #29BEFF;
    box-shadow: 0 0 12px 0 #29BEFF;
    position: relative;
    z-index: 1
}

.team .team-img:hover {
    -webkit-box-shadow: 0 0 12px 0 #FF4137;
    box-shadow: 0 0 12px 0 #FF4137;
    background: -webkit-linear-gradient(45deg, #FF4137, #FDC800);
    background: -moz-linear-gradient(45deg, #FF4137, #FDC800);
    background: -o-linear-gradient(45deg, #FF4137, #FDC800);
    background: linear-gradient(45deg, #FF4137, #FDC800)
}

.team .team-img:hover:before {
    border-image-source: linear-gradient(to top, #FF4137, #FDC800);
    -webkit-transform: rotate(55deg);
    -moz-transform: rotate(55deg);
    -ms-transform: rotate(55deg);
    -o-transform: rotate(55deg);
    transform: rotate(55deg)
}

.team .team-img:hover~.team-icon {
    background: -webkit-linear-gradient(45deg, #FF4137, #FDC800);
    background: -moz-linear-gradient(45deg, #FF4137, #FDC800);
    background: -o-linear-gradient(45deg, #FF4137, #FDC800);
    background: linear-gradient(45deg, #FF4137, #FDC800)
}

.team .team-img img {
    border: 5px solid #FFF
}

.team .team-img:before {
    content: '';
    position: absolute;
    height: 200px;
    top: -28px;
    left: 50%;
    z-index: -1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border-right: 3px solid #29BEFF;
    border-image-source: linear-gradient(to top, #29BEFF, #1C76FE);
    border-image-slice: .5;
    -webkit-transition-property: -webkit-transform;
    -o-transition-property: -o-transform;
    -moz-transition-property: transform, -moz-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform, -moz-transform, -o-transform;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s
}

.team .team-icon {
    position: absolute;
    left: 135px;
    bottom: 25%;
    z-index: 1;
    border-radius: 50%;
    background: -webkit-linear-gradient(45deg, #29BEFF, #1C76FE);
    background: -moz-linear-gradient(45deg, #29BEFF, #1C76FE);
    background: -o-linear-gradient(45deg, #29BEFF, #1C76FE);
    background: linear-gradient(45deg, #29BEFF, #1C76FE);
    padding: .2rem .1rem .017rem .17rem
}

.team .team-icon i {
    background: #FFF;
    padding: .25rem .3rem;
    border-radius: 50%;
    font-size: .875rem
}

.team .profile .name {
    font-size: 1.125rem;
    font-weight: 700
}

.team .profile .role {
    font-size: .875rem
}

.team .profile img {
    height: 40px;
    left: -10px;
    position: relative
}

.team .profile .social-profile a {
    text-decoration: none;
    font-size: 1.125rem
}

.team-modal {
    background: -webkit-linear-gradient(45deg, rgba(41, 190, 255, .85), rgba(28, 118, 254, .85));
    background: -moz-linear-gradient(45deg, rgba(41, 190, 255, .85), rgba(28, 118, 254, .85));
    background: -o-linear-gradient(45deg, rgba(41, 190, 255, .85), rgba(28, 118, 254, .85));
    background: linear-gradient(45deg, rgba(41, 190, 255, .85), rgba(28, 118, 254, .85))
}

.team-modal .close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 9
}

.team-modal .progress {
    height: 6px
}
.contact,
.crypto-3d-graphic,
.footer,
.problem-solution,
section {
    position: relative
}
.contact .contact-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.contact .contact-info li {
    padding: 1rem 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -moz-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto
}

.contact .contact-info li i {
    color: #28BCFD;
    font-size: 2rem
}

.contact .contact-info li span {
    vertical-align: top;
    font-size: 1.125rem;
    color: #3F3F3F;
    padding-left: .8rem
}

.footer,
.footer .footer-wrapper .about-text p,
.footer .footer-wrapper ul.useful-links li a {
    color: #FFF
}

@media (max-width:991.98px) {
    .contact .contact-info li {
        padding: .5rem 0
    }
}

.footer {
    padding-top: 4.5rem;
    padding-bottom: 2.5rem;
	background-image: -webkit-linear-gradient(50deg, #28BCFD 20%, #1D78FF 51%, #28BCFD 90%);
    background-image: -moz-linear-gradient(50deg, #28BCFD 20%, #1D78FF 51%, #28BCFD 90%);
    background-image: -o-linear-gradient(50deg, #28BCFD 20%, #1D78FF 51%, #28BCFD 90%);
    background-image: linear-gradient(40deg, #28BCFD 20%, #1D78FF 51%, #28BCFD 90%);
}

.footer .footer-wrapper .title {
    margin-bottom: 35px
}

.footer .footer-wrapper .logo-text {
    font-size: 1.5rem
}

.footer .footer-wrapper ul.useful-links {
    padding: 0
}

.footer .footer-wrapper ul.useful-links li {
    line-height: 30px
}

.footer .footer-wrapper ul.useful-links li a:hover {
    text-decoration: none
}

.footer .footer-wrapper ul.social-buttons li {
    display: inline-block
}

.footer .footer-wrapper ul.social-buttons li a {
    padding: 0;
    color: #FFF;
    margin-right: 1rem;
    font-size: 1.125rem
}

.footer .footer-wrapper ul.social-buttons li a i {
    vertical-align: middle;
    color: #194089;
}

.footer .footer-wrapper ul.social-buttons li a:hover {
    color: #BF68E6
}

.footer .footer-wrapper .feed span {
    display: block;
    margin-bottom: 15px;
    font-size: .875rem
}

.footer .footer-wrapper .copyright {
    font-size: .75rem
}

p {
    color: #7D7D7D;
	font-size:17px;
}

.vertical-social .midnightHeader.default {
    background: #194089
}

.vertical-social .midnightHeader.default ul li a {
    color: #FFF;
    opacity: 1

}

.vertical-social .midnightHeader.default ul li a:hover {
    opacity: .75
}

.vertical-social .midnightHeader.white {
    background: #FFF
}

.vertical-social .midnightHeader.white ul li a {
    color: #000
}

header .navbar.navbar-fixed {
    background: #194089
}

#navigation #slide-line {
    background-color: #FDC800
}

.bg-color {
    background-color: #FBFAFF
}

.bg-gradient {
    background: -webkit-gradient(linear, left top, right top, from(#140E38), to(#194089));
    background: -webkit-linear-gradient(left, #140E38, #194089);
    background: -moz-linear-gradient(left, #140E38, #194089);
    background: -o-linear-gradient(left, #140E38, #194089);
    background: linear-gradient(to right, #140E38, #194089)
}

.bg-gradient p,
.dark-bg-text-color {
    color: #C7B8FF
}

.crypto-3d-graphic .graphic-3d-img {
    width: 740px
}

.our-coin.section-pro:before,
.problem-solution.section-pro:before {
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0
}

.problem-solution.section-pro:before {
    background: url(../images-3d-graphics/solution-shape.png) 50% 50% no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute
}

#token-sale-mobile-app .token-sale h5 {
    color: #FFF
}

#token-sale-mobile-app .token-sale ul.token-sale-info li {
    color: #C7B8FF
}

.our-coin {
    position: relative
}

.our-coin.section-pro:before {
    background: url(../images-3d-graphics/our-coin-shape.png) 50% 50% no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute
}

.team .profile .name,
.team .team-width p,
.team .team-width span {
    color: #FFF!important
}

.team .profile .role,
.team .profile .social-profile a {
    color: #C7B8FF!important
}

.advisor .profile .name {
    color: #7D7D7D!important
}

.advisor .profile .role {
    color: #3F3F3F!important
}

.ico-modal .close {
    position: absolute;
    right: 0;
    top: -30px;
    z-index: 999;
    font-size: 2rem;
    font-weight: 400;
    color: #FFF;
    opacity: 1
}

@media (min-width:1200px) and (max-width:1499.98px) {
    .crypto-3d-graphic .graphic-3d-img {
        width: 590px
    }
}

@media (min-width:992px) and (max-width:1199.98px) {
    .crypto-3d-graphic .graphic-3d-img {
        width: 480px
    }
    .about .content-area .what-is-crypto-img img,
    .token-img img {
        width: 450px
    }
    .head-area .head-content .banner-content {
        padding-top: .5rem!important
    }
    .head-area .head-content h1 {
        font-size: 1.5rem;
        line-height: 2rem
    }
    .head-area .head-content h3 {
        margin-top: 2rem;
        font-size: 1rem;
        line-height: 1.5rem
    }
    .head-area .head-content .btn {
        padding: .6rem 1rem;
        font-size: .8rem
    }
    .dark-bg-heading .sub-title,
    .heading .sub-title {
        font-size: 4.625rem!important
    }
    .about .content-area .play-video {
        left: 54%
    }
    .mobile-app .mobile-app-imgs .mobile-app-img-1 {
        width: 375px
    }
    .mobile-app .mobile-app-imgs .mobile-app-img-2 {
        width: 102px;
        top: 55px;
        left: 220px
    }
    .mobile-app .mobile-app-imgs .mobile-app-img-3 {
        width: 174px;
        top: -13px;
        left: 210px
    }
    .mobile-app .mobile-app-imgs .mobile-app-img-4 {
        width: 220px;
        top: -114px;
        left: 235px
    }
    .next-slide {
        right: 14px!important
    }
    .prev-slide {
        left: 14px!important
    }
}

@media (min-width:768px) and (max-width:991.98px) {
    .crypto-3d-graphic .graphic-3d-img {
        width: 550px
    }
    .head-area .head-content .banner-content {
        padding-top: .5rem!important;
        text-align: center
    }
    .head-area .head-content h1 {
        font-size: 1.5rem;
        line-height: 2rem
    }
    .head-area .head-content h3 {
        margin-top: 2rem!important;
        font-size: 1rem;
        line-height: 1.5rem
    }
    .dark-bg-heading .sub-title,
    .heading .sub-title {
        font-size: 4rem!important;
        top: 6%!important
    }
    .about .content-area .what-is-crypto-img {
        text-align: center
    }
    .about .content-area .play-video {
        left: 52%
    }
    .move-first {
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
        -moz-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1
    }
    .token-distribution .token-img,
    .whitepaper-img {
        text-align: center;
        margin-bottom: 3rem
    }
    .token-distribution .token-img img {
        width: 450px
    }
    .coin-img {
        text-align: center
    }
    .roadmap .next-slide {
        right: 2px
    }
    .roadmap .prev-slide {
        left: 2px
    }
}

@media (max-width:991.98px) {
    .main-menu.navbar.navbar-absolute.open {
        background: #183E85
    }
    .main-menu.navbar .dropdown-menu {
        background: #1D4A9F;
        -webkit-box-shadow: none!important;
        box-shadow: none!important
    }
    .main-menu.navbar .dropdown-menu a {
        color: #FFF
    }
    .faq .nav.nav-underline a {
        font-size: 1rem
    }
}

@media (min-width:576px) and (max-width:767.98px) {
    .about .content-area .what-is-crypto-img,
    .coin-img,
    .whitepaper-img {
        text-align: center
    }
    .graphic-3d-img {
        width: 525px!important
    }
    .head-area .head-content .banner-content {
        padding-top: .5rem!important;
        text-align: center
    }
    .head-area .head-content h1 {
        font-size: 1.5rem;
        line-height: 2rem
    }
    .head-area .head-content h3 {
        margin-top: 2rem!important;
        font-size: 1rem;
        line-height: 1.5rem
    }
    .head-area .head-content .btn {
        padding: .8rem;
        font-size: .8rem
    }
    .section-padding {
        padding: 3rem 0
    }
    .dark-bg-heading {
        margin-bottom: 3rem!important
    }
    .token-distribution .token-img,
    .whitepaper-img {
        margin-bottom: 3rem
    }
    .dark-bg-heading .sub-title,
    .heading .sub-title {
        font-size: 2.75rem;
        top: 14%
    }
    .title {
        font-size: 1.5rem
    }
    .about .content-area .play-video {
        left: 52%
    }
    .move-first {
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
        -moz-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1
    }
    .roadmap .timestamp span:after,
    .roadmap .timestamp.active span:after {
        left: 44.6%
    }
    .roadmap .next-slide {
        right: -8px
    }
    .roadmap .prev-slide {
        left: -8px
    }
    .contact .contact-info {
        display: block
    }
    .contact .contact-info li {
        margin: 1rem 0
    }
}

@media (max-width:575.98px) {
    .graphic-3d-img {
        width: 300px!important
    }
    .head-area .head-content .banner-content {
        padding-top: .5rem!important;
        text-align: center
    }
    .head-area .head-content h1 {
        font-size: 1.2rem;
        line-height: 2rem
    }
    .head-area .head-content h3 {
        margin-top: 2rem!important;
        font-size: 1rem;
        line-height: 1.5rem
    }
    .head-area .head-content .btn {
        padding: .8rem;
        font-size: .8rem
    }
    .section-padding {
        padding: 3rem 0!important
    }
    .dark-bg-heading {
        margin-bottom: 3rem!important
    }
    .dark-bg-heading .sub-title,
    .heading .sub-title {
        display: none
    }
    .dark-bg-heading .title,
    .heading .title {
        font-size: 1.4rem
    }
    .move-first {
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
        -moz-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1
    }
    .about .content-area .what-is-crypto-img {
        text-align: center
    }
    .about .content-area h2.font-large {
        font-size: 1.4rem;
        line-height: 1.5rem
    }
    .about .content-area h3.font-medium {
        font-size: .9rem
    }
    .about .content-area .play-video {
        top: 75%;
        left: 53%
    }
    .about .content-area .play-video .play {
        padding: .75rem;
        height: 50px;
        width: 50px
    }
    .about .content-area .play-video .play i {
        font-size: 1.5rem
    }
    .problems-img,
    .solutions-img {
        width: 250px
    }
    .token-distribution .token-img,
    .whitepaper-img {
        text-align: center;
        margin-bottom: 3rem
    }
    .token-details .clock-counter .flip-clock-wrapper .flip {
        margin: 2px;
        height: 24px;
        padding: 23px 1px
    }
    .token-details .clock-counter .flip-clock-wrapper .flip li {
        top: 6px
    }
    .token-details .clock-counter .flip-clock-wrapper .flip li a .up .inn {
        font-size: 1.5rem;
        top: -16px
    }
    .token-details .clock-counter .flip-clock-wrapper .flip li a .down .inn {
        font-size: 1.5rem;
        bottom: 16px
    }
    .token-details .clock-counter .flip-clock-wrapper .flip-clock-dot {
        width: 4px;
        height: 4px;
        left: 2px
    }
    .token-details .clock-counter .flip-clock-wrapper .flip-clock-dot.top {
        top: 16px
    }
    .token-details .clock-counter .flip-clock-wrapper .flip-clock-dot.bottom {
        bottom: 64px
    }
    .token-details .clock-counter .flip-clock-divider.days .flip-clock-label {
        left: -20px
    }
    .token-details .clock-counter .flip-clock-divider.hours .flip-clock-label {
        left: -8px
    }
    .token-details .clock-counter .flip-clock-divider.minutes .flip-clock-label {
        left: -7px
    }
    .token-details .clock-counter .flip-clock-divider.seconds .flip-clock-label {
        left: 0
    }
    .token-details .progress-bottom {
        top: 2rem
    }
    .roadmap .timestamp span:after,
    .roadmap .timestamp.active span:after {
        left: 44.1%
    }
    .roadmap .next-slide {
        right: -14px
    }
    .roadmap .prev-slide {
        left: -14px
    }
    .contact .contact-info {
        display: block
    }
    .contact .contact-info li {
        margin: 1rem 0
    }
    .contact .contact-info li i {
        font-size: 1.12rem;
        line-height: 1.5rem
    }
    .coin-img {
        text-align: center
    }
    .coin-img img {
        width: 200px
    }
    .mobile-app {
        margin-top: 3rem!important
    }
    .mobile-app .mobile-app-imgs .mobile-app-img-1 {
        width: 250px
    }
    .mobile-app .mobile-app-imgs .mobile-app-img-2 {
        width: 70px;
        top: 36px;
        left: 145px
    }
    .mobile-app .mobile-app-imgs .mobile-app-img-3 {
        width: 115px;
        top: -9px;
        left: 141px
    }
    .mobile-app .mobile-app-imgs .mobile-app-img-4 {
        width: 175px;
        top: -92px;
        left: 146px
    }
    .mobile-app .btn {
        padding: 1rem!important
    }
    .mobile-app .btn span {
        padding-right: 1rem!important
    }
}
.img-responsive {
    max-width: 100%;
    height: auto;
}
.logo_pic{
	margin-top:5px;
	margin-bottom: 5px;
}
.why_pic {
    margin-bottom: 20px;
}
.why_pic img{
	height:100px;
}
.foo_logo{
	margin-bottom:15px;
}
.about-text p {
    font-size: 15px;
}
.grey_bg_section{
	background:#f1f1f1;
}
.alert-minimalist{
	display:none !important;
}
.nav_bar_inner{
	    background: #194089;
}
.middle_part{
	padding:60px 0px;
}
.contact_form{
	padding:60px 0px;
}
.authorize_box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    max-width: 495px;
    padding: 45px 50px;
}
.title_default_dark h4 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 60px;
    text-transform: capitalize;
	position: relative;
}
.title_border.text-center h4::before {
    margin: 0 auto;
}
.title_border h4::before {
    background-color: #5957cd;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
    width: 80px;
	top: 45px;
}
.field_form .form-control {
    border-color: #7a7a7a;
    border-radius: 5px;
    padding: 12px 15px;
	margin-bottom: 20px;
}
.bttn_submit{
	transition: .5s;
    background-image: -webkit-linear-gradient(50deg, #28BCFD 20%, #1D78FF 51%, #28BCFD 90%);
    background-image: -moz-linear-gradient(50deg, #28BCFD 20%, #1D78FF 51%, #28BCFD 90%);
    background-image: -o-linear-gradient(50deg, #28BCFD 20%, #1D78FF 51%, #28BCFD 90%);
    background-image: linear-gradient(40deg, #28BCFD 20%, #1D78FF 51%, #28BCFD 90%);
    background-position: left center;
    background-size: 200% auto;
    border: 0;
    color: #FFF;
}
.forgot_pass {
    color: #7a7a7a;
}
.title_wrap {
    padding: 90px 0px;
    background: #194089;
    margin-top: -5px;
}
.page_title {
    text-align: center;
    font-size: 35px;
    color: #28bbfd;
	font-weight: bold;
}
.checkbox_field {
    font-size: 13px;
}
.c_icon {
    background: #194089;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    line-height: 120px;
    text-align: center;
	margin:auto;
}
.c_icon i {
    color: #fff;
    font-size: 40px;
    line-height: 24px;
}
.c_heading {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
	margin-top: 20px;
}
.c_text{
	text-align:center;
}
.faq .nav.nav-underline {
    border-bottom: 1px solid #EEECF4
}

.faq .nav.nav-underline a {
    color: #C7B8FF;
    font-size: 1.125rem;
    font-weight: 700;
    background: 0 0;
    text-align: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.faq .nav.nav-underline a.nav-item.nav-link.active {
    color: #FFF;
    border: none;
    background-color: transparent;
    border-bottom: 4px solid #7240A5;
    border-radius: 0;
    margin-bottom: -2px
}

.faq .tab-content .card {
    margin-bottom: .75rem;
    border: 1px solid #EEECF4;
    border-radius: .5rem
}

.faq .tab-content .card .card-header {
    background-color:#eee;
    border-bottom: none;
    padding: .6rem;
    text-decoration: none
}

.faq .tab-content .card .card-header .btn-link {
    font-weight: 700;
    margin: 6px 2.25rem 0 2.9rem;
    padding: .375rem .75rem;
    text-align: left;
    white-space: unset;
    display: inline-block;
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer
}

.faq .tab-content .card .card-header .btn-link:active,
.faq .tab-content .card .card-header .btn-link:focus,
.faq .tab-content .card .card-header .btn-link:hover {
    text-decoration: none
}

.faq .tab-content .card .card-body {
    color: #3F3F3F;
    font-weight: 700;
    font-size: .875rem;
    padding-top: .75rem
}

.faq .collapse-icon .card-header {
    position: relative
}

.faq .collapse-icon a[data-toggle=collapse]:after,
.faq .collapse-icon a[data-toggle=collapse]:before {
    position: absolute;
    top: 40%;
    right: 20px;
    margin-top: -8px;
    font-family: themify;
    -webkit-transition: all .3s linear 0s;
    -o-transition: all .3s linear 0s;
    -moz-transition: all .3s linear 0s;
    transition: all .3s linear 0s;
    font-size: clac(.65rem);
    background-image: -webkit-gradient(linear, left top, right top, from(#BF68E6), to(#9E48CD));
    background-image: -webkit-linear-gradient(left, #BF68E6, #9E48CD);
    background-image: -moz-linear-gradient(left, #BF68E6, #9E48CD);
    background-image: -o-linear-gradient(left, #BF68E6, #9E48CD);
    background-image: linear-gradient(90deg, #BF68E6, #9E48CD);
    -webkit-background-clip: text;
    background-clip: text;
    text-fill-color: transparent
}

.faq .collapse-icon a[data-toggle=collapse]:after {
    content: '\e648'
}

.faq .collapse-icon a[data-toggle=collapse]:before {
    content: '\e64b'
}

.faq .collapse-icon a[data-toggle=collapse] .icon {
    float: left;
    margin-top: 1px
}

.faq .collapse-icon a[data-toggle=collapse] .icon:after,
.faq .collapse-icon a[data-toggle=collapse] .icon:before {
    position: absolute;
    top: 40%;
    left: 20px;
    margin-top: -8px;
    font-family: themify;
    font-size: .65rem;
    -webkit-transition: all .3s linear 0s;
    -o-transition: all .3s linear 0s;
    -moz-transition: all .3s linear 0s;
    transition: all .3s linear 0s;
	background:#28bbfd;
    background-repeat: repeat-x;
    border: 0;
    color: #FFF;
    padding: .5rem .65rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0 0 12px 0 #BF68E6;
    box-shadow: 0 0 12px 0 #BF68E6
}

.contact,
.crypto-3d-graphic,
.footer,
.problem-solution,
section {
    position: relative
}

.faq .collapse-icon a[data-toggle=collapse] .icon:after {
    content: '\e622'
}

.faq .collapse-icon a[data-toggle=collapse] .icon:before {
    content: '\e61a'
}

.faq .collapse-icon.left a {
    padding-left: 28px
}

.faq .collapse-icon.left a:after,
.faq .collapse-icon.left a:before {
    left: 20px;
    right: auto
}

.faq .collapse-icon a[aria-expanded=true] .icon:before,
.faq .collapse-icon a[aria-expanded=true]:before,
.faq .collapse-icon a[aria-expanded=false] .icon:after,
.faq .collapse-icon a[aria-expanded=false]:after {
    opacity: 0
}

.faq .collapse-icon.accordion-icon-rotate a[aria-expanded=true] .icon:before,
.faq .collapse-icon.accordion-icon-rotate a[aria-expanded=true]:before {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg)
}

.faq .collapse-icon.accordion-icon-rotate a[aria-expanded=false] .icon:after,
.faq .collapse-icon.accordion-icon-rotate a[aria-expanded=false]:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}
.faq .tab-content .card {
    margin-bottom: .75rem;
    border: 1px solid #EEECF4;
    border-radius: .5rem;
}