<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
        <div class="card-head">
          <h3>Buy ATM Machine -  Queries</h3>
        </div>
          <div class="card data-tables">
              <div class="card-body table-striped table-no-bordered table-hover dataTable dtr-inline table-full-width">
                  <div class="toolbar">
                      <!--        Here you can write extra buttons/actions for the toolbar              -->
                  </div>
                  <div class="fresh-datatables" ng-if="show">
                      <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                          <thead>
                              <tr>
                                 <th>Id</th>
                                 <th>Date/Time</th>
                                 <th>First Name</th>
                                 <th>Last Name</th>
                                 <th>Email</th>
 																<th>Company</th>
 																<th>Message</th>

                              </tr>
                          </thead>
                          <tfoot>
                              <tr>
                                <th>Id</th>
                                <th>Date/Time</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                               <th>Company</th>
                               <th>Message</th>
                              </tr>
                          </tfoot>
                          <tbody>
                              <tr ng-repeat="row in rows track by $index"   >

                                  <td>{{row.id}}</td>
                                  <td>{{row.created_at | date:'medium'}}</td>
                                  <td>{{row.first_name}}</td>
                                  <td>{{row.last_name}}</td>
                                  <td>{{row.email}}</td>
                                  <td>{{row.company}}</td>
 																 <td>{{row.msg}}</td>

                              </tr>

                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>





</div>
