<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card data-tables">
        <div class="card-body">


<h3>BTC Prices</h3>
<table class="table table-responsive table-stripped">
  <thead>
<tr>
  <th>Currency</th>
  <th>Current Price</th>
  <th>Commission %</th>
<th>Current Price + Commission %</th>
</tr>
  </thead>
<tbody>
            <tr>
              <td><strong>USD</strong></td>
              <td class="ip"><span style=" float: left;">$ <span>{{currencies.USD}}</span></span></td>
              <td><input style="width:100px" class="form-control field_atm" type="number" ></td>
              <td class="op">$ <span></span></td>
            </tr>
            <tr>
              <td><strong>GBP</strong></td>
              <td class="ip"><span style=" float: left;">&pound; <span>{{currencies.GBP}}</span></span></td>
              <td><input style="width:100px" class="form-control field_atm" type="number" ></td>
              <td class="op">&pound; <span></span></td>
            </tr>
            <tr>
              <td><strong>ILS</strong></td>
              <td class="ip"><span style=" float: left;">₪ <span>{{currencies.ILS}}</span></span></td>
              <td><input style="width:100px" class="form-control field_atm" type="number" ></td>
              <td class="op">₪ <span></span></td>
            </tr>
          </tbody>
          </table>


        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){


$('.field_atm').keyup(function(){
  console.log('..')
  var val = jQuery(this).val();
  var row = jQuery(this).parent().parent();
  var inp = row.find('.ip').find('span').find('span').html();
  inp = parseFloat(inp);
  var op = row.find('.op').find('span');
  if(val) val = parseFloat(val);
  if(!val)
    val  = 0 ;

  var vl = inp + ((val/100)*inp);
  op.html(vl);

})
})
</script>
