<div class="sidebar-wrapper"  ng-controller="HeaderCtrl">
    <div class="logo">

    </div>
    <div class="user">


        <div class="photo">
            <img ng-src="{{currentUser.picture || currentUser.gravatar}}" />
        </div>
        <div class="info ">
                 <span>{{currentUser.name || currentUser.email || currentUser.id}}
                    <!-- <b class="caret"></b> -->
                </span>

        </div>
    </div>
    <ul class="nav">
        <li class="nav-item ">
            <a class="nav-link" href="/admin_panel/">
                <i class="fa fa-tachometer-alt"></i>
                <p>Dashboard</p>
            </a>
        </li>

				  <li class="nav-item ">
            <a class="nav-link" href="/admin_panel/exchange_rates/">
                <i class="fa fa-bookmark"></i>
                <p>Exchange Rates</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" data-target="#atm_menu_item">
                <i class="fab fa-bitcoin"></i>
                <p>
                    ATMs
                    <b class="caret"></b>
                </p>
            </a>
            <div ng-class="{'show' : urlhas('atms'),  'collapse': true}"  id="atm_menu_item">
                <ul class="nav">
                  <li class="nav-item ">
                      <a class="nav-link" href="/admin_panel/atms/">
                          <span class="sidebar-mini fa fa-list"> </span>
                          <span class="sidebar-normal">List All</span>
                      </a>
                  </li>
                  <li class="nav-item ">
                      <a class="nav-link" href="/admin_panel/atms/add">
                          <span class="sidebar-mini  fa fa-plus"></span>
                          <span class="sidebar-normal">Add New</span>
                      </a>
                  </li>
                </ul>
            </div>
        </li>


        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" data-target="#blog_menu_item">
                <i class="fa fa-rss-square"></i>
                <p>
                    Blog Posts
                    <b class="caret"></b>
                </p>
            </a>
            <div ng-class="{'show' : urlhas('blog-posts') || urlhas('category'),  'collapse': true}"   id="blog_menu_item">
                <ul class="nav">
                  <li class="nav-item ">
                      <a class="nav-link" href="/admin_panel/blog-posts/">
                          <span class="sidebar-mini fa fa-list"></span>
                          <span class="sidebar-normal">List All</span>
                      </a>
                  </li>
                  <li class="nav-item ">
                      <a class="nav-link" href="/admin_panel/blog-posts/add">
                          <span class="sidebar-mini fa fa-plus"></span>
                          <span class="sidebar-normal">Add New</span>
                      </a>
                  </li>
                  <li class="nav-item ">
                      <a class="nav-link" href="/admin_panel/category/">
                          <span class="sidebar-mini fa fa-plus"></span>
                          <span class="sidebar-normal">Categories</span>
                      </a>
                  </li>

									   <li class="nav-item ">
                      <a class="nav-link" href="/admin_panel/category/add">
                          <span class="sidebar-mini fa fa-plus"></span>
                          <span class="sidebar-normal">Add Categories</span>
                      </a>
                  </li>
                </ul>
            </div>
        </li>


        <li class="nav-item">
            <a class="nav-link  " data-toggle="collapse" data-target="#faq_menu_item">
                <i class="fa fa-question-circle"></i>
                <p>
                    FAQs
                    <b class="caret"></b>
                </p>
            </a>
            <div ng-class="{'show' : urlhas('faq'),  'collapse': true}" id="faq_menu_item">
                <ul class="nav">
                  <li class="nav-item active">
                      <a class="nav-link" href="/admin_panel/faq/">
                          <span class="sidebar-mini fa fa-list"></span>
                          <span class="sidebar-normal">List All</span>
                      </a>
                  </li>
                  <li class="nav-item ">
                      <a class="nav-link" href="/admin_panel/faq/add">
                          <span class="sidebar-mini fa fa-plus"></span>
                          <span class="sidebar-normal">Add New</span>
                      </a>
                  </li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" data-target="#user_menu_item">
                <i class="fa fa-users"></i>
                <p>
                    Users
                    <b class="caret"></b>
                </p>
            </a>
            <div class="collapse " id="user_menu_item">
                <ul class="nav">
                  <li class="nav-item ">
                      <a class="nav-link" href="/admin_panel/users/">
                          <span class="sidebar-mini fa fa-list"></span>
                          <span class="sidebar-normal">List All</span>
                      </a>
                  </li>
                  <!-- <li class="nav-item ">
                      <a class="nav-link" href="/admin_panel/users/add">
                          <span class="sidebar-mini fa fa-plus"></span>
                          <span class="sidebar-normal">Add New</span>
                      </a>
                  </li> -->
                </ul>
            </div>
        </li>

        <li class="nav-item ">
            <a class="nav-link" href="/admin_panel/bookings/">
                <i class="fa fa-bookmark"></i>
                <p>Bookings</p>
            </a>
        </li>

                <li class="nav-item ">
                    <a class="nav-link" href="/admin_panel/upload_invoices/">
                        <i class="fa fa-bookmark"></i>
                        <p>Upload Invoices</p>
                    </a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="/admin_panel/atm_machine_requests/">
                        <i class="fa fa-desktop"></i>
                        <p>ATM Machine Requests</p>
                    </a>
                </li>



                        <li class="nav-item ">
                            <a class="nav-link" href="/admin_panel/settings/">
                                <i class="fa fa-cog"></i>
                                <p>Settings</p>
                            </a>
                        </li>



                                <li class="nav-item ">
                                    <a class="nav-link" href="/atm_data_panel/Bills/">
                                        <i class="fa fa-cog"></i>
                                        <p>ATM DATA PANEL</p>
                                    </a>
                                </li>


    </ul>
</div>
