<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card-head">
        <h3>Bookings - Invoice Upload Pending</h3>
      </div>
      <div class="card data-tables">

        <div class="card-body table-striped table-no-bordered table-hover dataTable dtr-inline table-full-width">
          <div class="fresh-datatables"  ng-if="show">
            <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>User</th>
                  <th>ATM Title</th>
                  <th style="width:300px">Address</th>
                  <th>Transaction Type</th>
                  <th>Transaction Amount</th>
                  <th>Booking Date/Time</th>
                  <th>Created At</th>
                  <th>Status</th>

                  <th class="disabled-sorting text-right">Actions</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Id</th>
                  <th>User</th>
                  <th>ATM Title</th>
                  <th>Address</th>
                  <th>Transaction Type</th>
                  <th>Transaction Amount</th>
                  <th>Booking Date/Time</th>
                  <th>Created At</th>
                  <th>Status</th>
                  <th class="text-right">Actions</th>
                </tr>
              </tfoot>
              <tbody>
                <tr ng-repeat="booking in bookings track by $index" ng-if="!booking.invoice_path && (booking.status == 'Invited' || booking.status == 'Completed')">

                  <td ng-bind="booking.id"></td>
                  <td ng-bind="booking.user.name"></td>
                  <td ng-bind="booking.atm.title"></td>
                  <td ng-bind="booking.atm.address"></td>
                  <td ng-bind="booking.transaction_type"></td>
                  <td ng-bind="booking.desired_amount"></td>
                  <td>{{booking.booking_date | date:'MMM dd, yyyy'}} {{booking.booking_time | date:'hh:mm a'}}</td>
                  <td>{{booking.created_at | date:'medium'}}</td>
                  <td ng-bind="goodStatus(booking.status)"></td>


                  <td class="text-right">

                    <!-- <a href="#" class="btn btn-link btn-info like"><i class="fa fa-heart"></i></a> -->
                    <a title="Approve" ng-if="booking.status == 'pending_approval'" ng-click="approve(booking.id)" class="btn btn-link btn-primary "><i class="fa fa-check"></i></a>
                    <a title="Reject" ng-if="booking.status == 'pending_approval'" ng-click="reject(booking.id)" class="btn btn-link btn-danger "><i class="fa fa-ban"></i></a>
                    <a title="Mark as Complete" ng-if="booking.status == 'Invited'" ng-click="complete(booking.id)" class="btn btn-link btn-primary "><i class="fa fa-check-circle"></i></a>
                    <a ng-repeat="a in pur(booking.invoice_path)" style=" color: #212529; " href="/downloads/invoices/{{a}}" title="Download Invoice" target="_blank" ng-if="booking.invoice_path && (booking.status == 'Invited' || booking.status == 'Completed')"  class="btn btn-link btn-primary "><i class="fa fa-download"></i> {{ppuur(a)}}<br /></a>

                    <div style=" display: inline-block; " >
                      <form name="upload" class="form" >
                        <input multiple data-id_booking="{{booking.id}}" style="display:none" id="inv" type="file" name="file" onchange="angular.element(this).scope().uploadedFile(this)" />
                        <label for="inv"><i class="fa fa-upload"></i></label>
                        <i ng-if="file_upload_started && booking.uploading" class="fa fas fa-spin fa-spinner"></i>
                      </form>
                    </div>

                  </td>
                </tr>

              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="row">
    <div class="col-md-12">
      <div class="card-head">
        <h3>Bookings - Invoice Upload Done</h3>
      </div>
      <div class="card data-tables">

        <div class="card-body table-striped table-no-bordered table-hover dataTable dtr-inline table-full-width">
          <div class="fresh-datatables"  ng-if="show">
            <table id="datatables2" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>User</th>
                  <th>ATM Title</th>
                  <th style="width:300px">Address</th>
                  <th>Transaction Type</th>
                  <th>Transaction Amount</th>
                  <th>Booking Date/Time</th>
                  <th>Created At</th>
                  <th>Status</th>

                  <th class="disabled-sorting text-right">Actions</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Id</th>
                  <th>User</th>
                  <th>ATM Title</th>
                  <th>Address</th>
                  <th>Transaction Type</th>
                  <th>Transaction Amount</th>
                  <th>Booking Date/Time</th>
                  <th>Created At</th>
                  <th>Status</th>
                  <th class="text-right">Actions</th>
                </tr>
              </tfoot>
              <tbody>
                  <tr ng-repeat="booking in bookings track by $index" ng-if="booking.invoice_path && (booking.status == 'Invited' || booking.status == 'Completed')">

                  <td ng-bind="booking.id"></td>
                  <td ng-bind="booking.user.name"></td>
                  <td ng-bind="booking.atm.title"></td>
                  <td ng-bind="booking.atm.address"></td>
                  <td ng-bind="booking.transaction_type"></td>
                  <td ng-bind="booking.desired_amount"></td>
                  <td>{{booking.booking_date | date:'MMM dd, yyyy'}} {{booking.booking_time | date:'hh:mm a'}}</td>
                  <td>{{booking.created_at | date:'medium'}}</td>
                  <td ng-bind="goodStatus(booking.status)"></td>


                  <td class="text-right">

                    <!-- <a href="#" class="btn btn-link btn-info like"><i class="fa fa-heart"></i></a> -->
                    <a title="Approve" ng-if="booking.status == 'pending_approval'" ng-click="approve(booking.id)" class="btn btn-link btn-primary "><i class="fa fa-check"></i></a>
                    <a title="Reject" ng-if="booking.status == 'pending_approval'" ng-click="reject(booking.id)" class="btn btn-link btn-danger "><i class="fa fa-ban"></i></a>
                    <a title="Mark as Complete" ng-if="booking.status == 'Invited'" ng-click="complete(booking.id)" class="btn btn-link btn-primary "><i class="fa fa-check-circle"></i></a>
                    <a ng-repeat="a in pur(booking.invoice_path)" style=" color: #212529; " href="/downloads/invoices/{{a}}" title="Download Invoice" target="_blank" ng-if="booking.invoice_path && (booking.status == 'Invited' || booking.status == 'Completed')"  class="btn btn-link btn-primary "><i class="fa fa-download"></i> {{ppuur(a)}}<br /></a>

                    <div style=" display: inline-block; " ng-if="!booking.invoice_path && (booking.status == 'Invited' || booking.status == 'Completed')">
                      <form name="upload" class="form" >
                        <input multiple data-id_booking="{{booking.id}}" style="display:none" id="inv" type="file" name="file" onchange="angular.element(this).scope().uploadedFile(this)" />
                        <label for="inv"><i class="fa fa-upload"></i></label>
                        <i ng-if="file_upload_started && booking.uploading" class="fa fas fa-spin fa-spinner"></i>
                      </form>
                    </div>

                  </td>
                </tr>

              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>




</div>
