<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Matrix</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css" />
<link href="style.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,500,700" rel="stylesheet">

</head>
<body  ng-app="MyApp">
  <div class="container-fluid"  ng-controller="CryptCtrl">
    <div class="bsx" >
    <div class="row mb50" style="flex:3;">
      <div class="col-md-8 mt50">
        <img src="images/logo.png" alt="logo"  class="logo_img" />
        <div class="date_field" style=" vertical-align: bottom; ">{{tm}} </div>
      </div>
        <div class="col-md-4 mt50">
          <div class="row mb0">
            <div class="col-md-4">
              <div class="clock clock_1">
                <div class="inner">
                  <div class="hour hand"></div>
                  <div class="minute hand"></div>
                  <div class="second hand"></div>
                  <div class="graduations"><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div></div>
                </div>
              </div>
              <div class="time_city">
                Tokyo
              </div>
            </div>
            <div class="col-md-4">
              <div class="clock clock_2">
                <div class="inner">
                  <div class="hour hand"></div>
                  <div class="minute hand"></div>
                  <div class="second hand"></div>
                  <div class="graduations"><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div></div>
                </div>
              </div>
              <div class="time_city">
                Tel Aviv
              </div>
            </div>
            <div class="col-md-4">
              <div class="clock clock_3">
                <div class="inner">
                  <div class="hour hand"></div>
                  <div class="minute hand"></div>
                  <div class="second hand"></div>
                  <div class="graduations"><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div><div class="graduation"></div></div>
                </div>
              </div>
              <div class="time_city">
                New York
              </div>
            </div>
          </div>


        </div>
    </div>

    <div class="row mb50" style="flex:7;padding-bottom:0;">

      <div class="col-md-8">
        <div class="backgroundblue" style="display:flex;flex-direction:column">
          <div class="box_1" style="flex:1.5;display:flex;align-items:center;">
            <div class="box_inner" style="flex:1" ng-repeat="row in tableData track by $index" ng-if="$index < 6" >
              <span class="s1 sa">{{row.symbol}} / ILS</span>
              <span class="s2 sa">
                <span class="color_green" ng-if="row.quotes.ILS.percent_change_24h > 0">&uarr;</span>
                <span class="color_blue" ng-if="row.quotes.ILS.percent_change_24h == 0">&harr;</span>
                <span class="color_red" ng-if="row.quotes.ILS.percent_change_24h <  0">&darr;</span>
              </span>
              <span class="s3 sa">{{row.quotes.ILS.price | number : 2}}</span>
              <span class="s4 sa color_green" ng-if="row.quotes.ILS.percent_change_24h > 0">{{row.quotes.ILS.percent_change_24h | number : 2}}%</span>
              <span class="s4 sa color_red" ng-if="row.quotes.ILS.percent_change_24h < 0">{{row.quotes.ILS.percent_change_24h | number : 2}}%</span>
              <span class="s4 sa color_blue" ng-if="row.quotes.ILS.percent_change_24h == 0">{{row.quotes.ILS.percent_change_24h | number : 2}}%</span>
            </div>
          </div>
          <div class="box_8" style="flex:8.5;display:flex">


            <div id="chart-container" style="
    width: 100%;
"></div>
            <script type="text/javascript" src="https://static.cryptowat.ch/assets/scripts/embed.bundle.js"></script>





          </div>


        </div>
      </div>
      <div class="col-md-4">
        <div class="backgroundblue">
          <table class="table-dark table-striped table-sm table-respfonsive table">
            <thead>
              <tr>
                <th>PAIR</th>
                <th style="text-align:right">PRICE</th>
                <th style="text-align:right">CHANGE</th>
                <th style="text-align:right">24 hour Vol</th>
                <th style="text-align:right">DATE</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in tableData">
                <td>{{row.symbol}} / ILS</td>
                <td style="text-align:right">{{row.quotes.ILS.price | number : 2}}</td>
                <td style="text-align:right">{{row.quotes.ILS.percent_change_24h | number : 2}}%</td>
                <td style="text-align:right">{{row.quotes.ILS.volume_24h | number : 2}}</td>
                <td style="text-align:right">{{toDt(row.last_updated)}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.21/moment-timezone-with-data.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
<script src="a.js"></script>
<script src="mod.js"></script>
<script>
var chart = new cryptowatch.Embed('kraken', 'btcusd', {
	timePeriod: '1d',
  // width: 650,
  presetColorScheme: 'delek'
});
chart.mount('#chart-container');
</script>
</div>
</body>
</html>
