<div class="sidebar-wrapper"  ng-controller="HeaderCtrl">
    <div class="logo">

    </div>
    <div class="user">


        <div class="photo">
            <img ng-src="{{currentUser.picture || currentUser.gravatar}}" />
        </div>
        <div class="info ">
                 <span>{{currentUser.name || currentUser.email || currentUser.id}}
                    <!-- <b class="caret"></b> -->
                </span>

        </div>
    </div>
    <ul class="nav">
      <li class="nav-item "><a class="nav-link" href="/atm_data_panel/Bills"><i class="fa fa-tachometer-alt"></i><p>Bills</p></a></li>


  <li class="nav-item ">
    <a class="nav-link" href="/atm_data_panel/CashInActions">
      <i class="fa fa-tachometer-alt"></i>
      <p>CashInActions</p>
    </a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="/atm_data_panel/CashInRefills">
      <i class="fa fa-tachometer-alt"></i>
      <p>CashInRefills</p>
    </a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="/atm_data_panel/CashInTxs">
      <i class="fa fa-tachometer-alt"></i>
      <p>CashInTxs</p>
    </a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="/atm_data_panel/CashOutActions">
      <i class="fa fa-tachometer-alt"></i>
      <p>CashOutActions</p>
    </a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="/atm_data_panel/CashOutRefills">
      <i class="fa fa-tachometer-alt"></i>
      <p>CashOutRefills</p>
    </a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="/atm_data_panel/CashOutTxs">
      <i class="fa fa-tachometer-alt"></i>
      <p>CashOutTxs</p>
    </a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="/atm_data_panel/ComplianceOverrides">
      <i class="fa fa-tachometer-alt"></i>
      <p>ComplianceOverrides</p>
    </a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="/atm_data_panel/Customers">
      <i class="fa fa-tachometer-alt"></i>
      <p>Customers</p>
    </a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="/atm_data_panel/Devices">
      <i class="fa fa-tachometer-alt"></i>
      <p>Devices</p>
    </a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="/atm_data_panel/Trades">
      <i class="fa fa-tachometer-alt"></i>
      <p>Trades</p>
    </a>
  </li>


      <li class="nav-item ">
          <a class="nav-link" href="/admin_panel">
              <i class="fa fa-tachometer-alt"></i>
              <p>MatrixATM ADMIN PANEL </p>
          </a>
      </li>





    </ul>
</div>
