<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card-head">
        <h3>{{tbl_name}}</h3>
      </div>
      <div class="card data-tables">
        <div class="card-body table-striped table-no-bordered table-hover dataTable dtr-inline table-full-width">
          <div class="fresh-datatables"  ng-if="list.length">
            <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
              <thead>
                <tr>
                  <th ng-repeat="column in cols">{{doSmart(column)}}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="row in list">
                  <td ng-repeat="column in cols">{{row[column]}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div ng-if="list.length == 0 && !loading">
            No results to fetch
          </div>

          <div ng-if="list.length == 0 && loading">
            please wait...
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
