<div class="container-fluid">

  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-wysiwyg/0.3.3/bootstrap3-wysihtml5.min.css" integrity="sha256-Qo9dfxjSvWBpcONv1klYEjbmw13NfsOC+oARxiq49/A=" crossorigin="anonymous" /> -->


                    <div class="row">
                        <div class="col-md-12">
                          <div ng-if="messages.error" role="alert" class="alert alert-danger">
                            <div ng-repeat="error in messages.error">{{error.msg}}</div>
                          </div>
                          <div ng-if="messages.success" role="alert" class="alert alert-success">
                            <div ng-repeat="success in messages.success">{{success.msg}}</div>
                          </div>
                          <form ng-submit="submitForm()">
                            <div class="card stacked-form">
                                <div class="card-header ">
                                    <h4 class="card-title">{{title}}</h4>
                                </div>
                                <div class="card-body ">

                                    <div class="form-group">
                                        <label>Post Title</label>
                                        <input type="text" ng-model="blogpost.title" required placeholder="Enter Blog Post Title" class="form-control">
                                    </div>


                                    <div class="form-group">
                                        <label>Post Title - Hebrew</label>
                                        <input type="text" ng-model="blogpost.title_he" required placeholder="Enter Blog Post Title" class="form-control">
                                    </div>



                                  <div class="form-group">
                                      <label>Post Slug [Fancy Url key]</label>
                                      <input type="text" ng-model="blogpost.slug" required placeholder="Enter Post Slug [Fancy Url key]" class="form-control">
                                  </div>

                                  <div class="form-group">
                                      <label>Post Category</label>
                                      <select type="text" ng-model="blogpost.category_id"  required class="form-control">
																			<option value="">Select</option>
																			<option value="{{cat.id}}" ng-repeat="cat in categories">{{cat.title}}</option>
																			</select>
                                  </div>


                                  <div class="form-group">
                                      <label>Blog Archive Page Content [Short]</label>
                                      <textarea style="min-height: 200px;" type="text" ng-model="blogpost.short_content" required placeholder="Blog Archive Page Content [Short]" class="form-control"></textarea>
                                  </div>


                                  <div class="form-group">
                                      <label>Blog Archive Page Content [Short] - Hebrew</label>
                                      <textarea style="min-height: 200px;" type="text" ng-model="blogpost.short_content_he" required placeholder="Blog Archive Page Content [Short]" class="form-control"></textarea>
                                  </div>


																	<div class="form-group">
																			<label>Post Content</label>

                                      <summernote ng-model="blogpost.content"></summernote>


																	</div>


																	<div class="form-group">
																			<label>Post Content - Hebrew</label>

                                      <summernote ng-model="blogpost.content_he"></summernote>


																	</div>
																				<div class="form-group" ng-if="is_new">
																				<label>Featured Image</label>
																				<br />
																				<span>You will be able to edit the featured image once you save the post.</span>
																				</div>

                                        <div class="form-group" ng-if="!is_new">
                                          <div>
                                            <label>
                                          <input type="checkbox" ng-if="blogpost.image_url"   name="remove_media" ng-model="blogpost.remove_media" value="yes" /> Check this box and click the save button to remove the saved featured image.
                                        </label>
                                        </div>


                                          <hr ng-if="blogpost.image_url"   />
      																		<label>Featured Image</label>
      																		<img ng-if="blogpost.image_url"  style="width:70px"  ng-src="{{'/downloads/images/'+blogpost.image_url}}" />

      																		 <input data-id_key="{{blogpost.id}}" id="inv" type="file" name="file" onchange="angular.element(this).scope().uploadedFile(this)" />
      																		 <span ng-if="file_upload_started">please wait....</span>
      																		 <span ng-if="file_upload_completed">Image uploaded successfully...</span>
      																		 <span ng-if="file_upload_failed">Upload Failed.</span>

      																	</div>





                                </div>
                                <div class="card-footer ">
                                    <button type="submit" class="btn btn-fill btn-info">Submit</button>
                                </div>
                            </div>
                            </form>




                        </div>





                    </div>
                </div>



<style>

.glyphicon{
      font-family: Font Awesome\ 5 Free;
      font-weight: 900;
}
.glyphicon-quote:before{ content: "\f10e" !important;}
.glyphicon-quote:after{content: '';content: "\f10e";}
.glyphicon-list:before {
    content: "\f03a";
}
.glyphicon-th-list:before {
    content: "\f0cb";
}.glyphicon-indent-right:before {
    content: "\f101";
}.glyphicon-indent-left:before {
    content: "\f100";
}

.glyphicon-share:before {
    content: "\f0c1";
}
.glyphicon-picture:before {
    content: "\f03e";
}


</style>
