<!-- translated -->

<section class="title_wrap">

   <div class="container">

       <div class="row">

           <div class="col-md-12">

               <div class="page_title">404</div>

             </div>

        </div>
   </div>

  </section>





    <section class="middle_part faq">
<div class="container text-center">


  <h1>404</h1>
  <p>{{PAGE_NOT_FOUND | translate}}</p>
</div>



</section>
