<!-- translated -->


<section class="title_wrap">

   <div class="container">

       <div class="row">

           <div class="col-md-12">

               <div class="page_title">{{ 'ABOUT_US' | translate }}</div>

             </div>

        </div>
   </div>

  </section>





    <section class="middle_part faq">

    	<div class="container">

        	<div class="row">

            	<div class="col-md-6">
                	<div class="title_default_dark title_border text-left">
                    	<h4>{{ 'ABOUT_COMPANY' | translate }}</h4>
                    </div>
                    <p>
                      <div ng-if='currentLang() == "en"' ng-bind-html="settings.about_large | trust"></div>
                      <div ng-if='currentLang() == "he"' ng-bind-html="settings.about_large_he | trust"></div>
                    </p>

                </div>

                <div class="col-md-6">
                	<img src="images/Coin-BTC.png" />
                </div>
            </div>
        </div>
    </section>


    <section class="token-distribution gray_bg section-padding">
    <div class="container-fluid">
        <div class="container">
            <div class="title_default_dark title_border text-center">
                    	<h4>{{  'WHY_CHOOSE_US' | translate }}</h4>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-6 pr-5 animated">

                  <div class="row">

                    <div class="col-md-6 text-center">
                        <div class="why_pic"><img src="images/economic.png" alt="" /></div>
                        <p ng-if='currentLang() == "en"' class="mt-1">{{settings.why_us_text_1}}</p>
                        <p ng-if='currentLang() == "he"' class="mt-1">{{settings.why_us_text_1_he}}</p>

                      </div>
                      <div class="col-md-6 text-center">
                        <div class="why_pic"><img src="images/business.png" alt="" /></div>
                        <p ng-if='currentLang() == "en"' class="mt-1">{{settings.why_us_text_2}}</p>
                        <p ng-if='currentLang() == "he"' class="mt-1">{{settings.why_us_text_2_he}}</p>

                      </div>
                      <div class="col-md-6 text-center">
                        <div class="why_pic"><img src="images/simple.png" alt="" /></div>
                        <p ng-if='currentLang() == "en"' class="mt-1">{{settings.why_us_text_3}}</p>
                        <p ng-if='currentLang() == "he"' class="mt-1">{{settings.why_us_text_3_he}}</p>

                      </div>
                      <div class="col-md-6 text-center">
                        <div class="why_pic"><img src="images/smart.png" alt="" /></div>
                        <p ng-if='currentLang() == "en"' class="mt-1">{{settings.why_us_text_4}}</p>
                        <p ng-if='currentLang() == "he"' class="mt-1">{{settings.why_us_text_4_he}}</p>

                      </div>

                  </div>
                    <div class="content-area">
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 move-first animated">
                    <div class="token-img">
										<img class="img-fluid" ng-src="{{'/downloads/images/'+settings.about_page_photo}}" />

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


    <section class="call_action">
        <div class="container">

            <div class="row">

                <div class="col-md-8">

                	<h4 class="call_action_title">{{ 'IF_YOU_THINK' | translate }}</h4>

                </div>

                <div class="col-md-4">

                    <a class="btn btn-md btn-gradient-blue" href="/contact" >{{  'CONTACT_US' | translate }}</a>

                </div>

            </div>

        </div>

    </section>
