<section class="title_wrap">

    <div class="container">

        <div class="row">

            <div class="col-md-12">

                <div class="page_title">{{  'OUR_BLOG' | translate }}</div>

              </div>

         </div>
    </div>

   </section>





       <section class="middle_part faq">

       	<div class="container">

           	<div class="row">

               	<div class="col-md-8">

                   	<div class="post-details">


                       	<article class="blog_content_detail" ng-repeat="post in blogposts">
                                   <div class="post_content">
                                   	<h3 class="blog_title">
                                      <a ng-if='currentLang() == "en"' ng-href="{{'/blog/'+post.id+'/'+post.slug}}" >{{post.title}}</a>
                                      <a ng-if='currentLang() == "he"' ng-href="{{'/blog/'+post.id+'/'+post.slug}}" >{{post.title_he}}</a>
                                    </h3>
                                       <ul class="list_none blog_meta">
                                       	<li><a href="#">{{  'POSTED_BY' | translate }}<span>admin</span></a></li>
                                           <li><a  ng-href="{{'/blog/'+post.id+'/'+post.slug}}" ><i class="ti-alarm-clock"></i> {{post.created_at | date:'medium'}}</a></li>
                                           <!-- <li><a href="#"><i class="ti-comment-alt"></i> 5 Comments</a></li> -->
                                       </ul>
                                       <div class="blog-img mt-3 mb-3" ng-if="post.image_url !='' && post.image_url != null ">
																			 <img class="img-responsive" ng-src="{{'/downloads/images/'+post.image_url}}" />
                                       </div>
                                       <div ng-if="post.short_content == '' || post.short_content == null && currentLang() == 'en'">
                                         {{smallerContent(post.content)}}
                                       </div>
                                       <div ng-if="post.short_content == '' || post.short_content == null && currentLang() == 'he'">
                                         {{smallerContent(post.content_he)}}
                                       </div>
                                       <div ng-if="post.short_content != '' && post.short_content != null && currentLang() == 'en'">
                                         {{post.short_content}}
                                       </div>
                                       <div ng-if="post.short_content != '' && post.short_content != null && currentLang() == 'he'">
                                         {{post.short_content_he}}
                                       </div>
                                   </div>
                                   <div class="action_block">
                                       <a ng-href="{{'/blog/'+post.id+'/'+post.slug}}" class="btn btn-lg btn-gradient-blue"> {{  'READ_MORE' | translate }}</a>

                                  </div>
                               </article>



                       </div>

                       <!-- <ul class="pagination">
                                       	<li><a href="#">Prev</a></li>
                                           <li class="active"><a href="#">1</a></li>
                                           <li><a href="#">2</a></li>
                                           <li><a href="#">3</a></li>
                                           <li><a href="#">...</a></li>
                                           <li><a href="#">Next</a></li>
                       </ul> -->

                   </div>

                   <div class="col-md-4">

                   	<div class="sidebar_blog">

<!--
                       <div class="widget widget_search">
                       	<form class="form_search">
                           	<input type="text" placeholder="Search" required="">
                               <button value="Submit" class="search_submit" name="submit" title="Subscribe" type="submit"><i class="ti-search"></i></button>
                           </form>
                       </div> -->


                       <div class="widget widget_popular_post" >
                       	<h5 class="widget_title">{{  'RECENT_POST' | translate }}</h5>
                       	<div class="widget-post" ng-repeat="post in blogposts">
                               <div class="widget-post-thumb">
                                   <a  ng-href="{{'/blog/'+post.id+'/'+post.slug}}" >

																	 <img  ng-if="post.image_url !='' && post.image_url != null " class="img-responsive" ng-src="{{'/downloads/images/'+post.image_url}}" />

																	 </a>
                               </div>
                               <div class="widget-post-content">
                                   <h6><a ng-if='currentLang() == "en"' ng-href="{{'/blog/'+post.id+'/'+post.slug}}" >{{post.title}}</a>
                                   <a ng-if='currentLang() == "he"' ng-href="{{'/blog/'+post.id+'/'+post.slug}}" >{{post.title_he}}</a></h6>
                                   <div class="widget-date"><i class="ti-alarm-clock"></i> {{post.created_at | date:'MMM dd, yyyy'}}</div>
                               </div>
                           </div>


                       </div>


                       <div class="widget widget_category">
                           <h5 class="widget_title">{{  'CATEGORIES' | translate }}</h5>
                           <ul class="list_none">
                                <li><a href="#" ng-repeat="cat in categories">{{cat.title}}</a></li>

                           </ul>
                   	</div>


                       </div>

                   </div>

               </div>


           </div>

       </section>
