<!-- translated -->
<section class="title_wrap">

  <div class="container">

    <div class="row">

      <div class="col-md-12">

        <div class="page_title">{{  'ACCOUNT' | translate }} - {{  'MY_BOOKINGS' | translate }}</div>

      </div>

    </div>
  </div>

</section>


<section class="middle_part">

  <div class="container">
    <div class="row">

      <div class="col-md-3">
        <ul class="list-group">
          <li ng-class="{'list-group-item': true, 'active': (isActive('/account'))}"><a class="active" href="/account">{{  'Profile' | translate }}</a></li>
          <li ng-class="{'list-group-item': true, 'active': (isActive('/bookings'))}"><a href="/bookings">{{  'MY_BOOKINGS' | translate }}</a></li>
          <li ng-class="{'list-group-item': true, 'active': (isActive('/locations'))}"><a href="/locations">{{  'BOOK_A_VISIT' | translate }}</a></li>
          <li ng-class="{'list-group-item': true, 'active': (isActive('/account/kyc'))}"><a href="/account/kyc">{{  'MY_KYC' | translate }}</a></li>
          <li ng-class="{'list-group-item': true, 'active': (isActive('/account/change-password'))}"><a href="/account/change-password">{{  'CHANGE_PWD' | translate }}</a></li>
          <li ng-controller="HeaderCtrl"><a  href="#" class="list-group-item" ng-click="logout()">{{  'LOGOUT' | translate }}</a></li>
        </ul>
      </div>
      <div class="col-md-9">

        <table id="datatables" class="table table-responsive table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
          <thead>
            <tr>
              <th>{{  'ID' | translate }}</th>
              <!-- <th>User</th> -->
              <th>{{  'ATM_TITLE' | translate }}</th>
              <!-- <th style="width:200px">Address</th> -->
              <th>{{  'TNX_TYP_AMNT' | translate }} </th>
              <!-- <th>Selected Transaction Amount</th> -->
              <th>{{  'CREATED_AT' | translate }}</th>
              <th>{{  'STATUS' | translate }}</th>

              <th class="disabled-sorting text-right">{{ 'ACTIONS'  | translate}}</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="booking in bookings track by $index">

              <th ng-bind="booking.id"></th>
              <!-- <th ng-bind="booking.user.name"></th> -->
              <th>
                <strong ng-bind="booking.atm.title"></strong>
                <br />
                <span ng-bind="booking.atm.address"></span>
              </th>
              <!-- <th ng-bind="booking.atm.address"></th> -->
              <th>
                <span ng-bind="booking.transaction_type"></span>
                <span  ng-if="booking.desired_amount">( {{booking.desired_amount}} )</span>
              </th>
              <!-- <th ng-bind="booking."></th> -->
              <th>{{booking.created_at | date:'medium'}}</th>
              <th ng-bind="goodStatus(booking.status)"></th>


              <td class="text-right">

                <a href="#" title="Reject" ng-if="booking.status != 'Cancelled' && booking.status != 'Completed' && booking.status != 'Rejected' && !booking.confrm_del" ng-click="reject(booking)"  >{{ 'CANCEL_BOOKING'  | translate}}</a>
                <a style="color:red" href="#" title="Rejected" ng-if="booking.status != 'Cancelled'  && booking.status != 'Completed' && booking.status != 'Rejected' && booking.confrm_del" ng-click="rejectConfrm(booking.id, booking)"  >{{ 'ARE_YOU_SURE'  | translate}}</a>

                <span ng-if="booking.status != 'Cancelled'  && booking.status != 'Completed' && booking.status != 'Rejected' && booking.invoice_path!='' && booking.invoice_path!=null" > | </span>

                <a  target="_blank" ng-if="booking.invoice_path!='' && booking.invoice_path!=null"  ng-repeat="a in pur(booking.invoice_path)" style=" color: #212529; " href="/downloads/invoices/{{a}}" title="Download Invoice"   >{{'DOWNLOAD'|translate}} - {{ppuur(a)}}<br /></a>

              </td>
            </tr>

          </tbody>

        </table>


      </div>
    </div>
    </div>
</section>
