<!-- translated -->

<section class="title_wrap">

   <div class="container">

       <div class="row">

           <div class="col-md-12">

               <div class="page_title">{{  'BUY_ATM_MACHINE' | translate }}</div>

             </div>

        </div>
   </div>

  </section>








      <section class="middle_part">

      	<div class="container">

          	<div class="row">

              	<div class="col-md-12">

                  	<div class="title_default_dark title_border text-center">
                      	<h4>{{  'BUY_ATM_MACHINE' | translate }}</h4>
                      </div>

                  </div>

                 <div class="col-md-12">
                   <p>
                    <div ng-if='currentLang() == "en"' ng-bind-html="settings.buy_atm_text | trust"></div>
                    <div ng-if='currentLang() == "he"' ng-bind-html="settings.buy_atm_text_he | trust"></div>
                   </p>


                 </div>






              </div>

          </div>

      </section>




         <section class="contact_form">

           	<div class="container">

               	<div class="row">

                   	<div class="col-md-12">

                           <div class="title_default_dark title_border text-center">
                                   <h4>{{ 'GET_IN_TOUCH' | translate }}</h4>
                           </div>

                           <div ng-if="messages.error" role="alert" class="alert alert-danger">
                             <div ng-repeat="error in messages.error">{{error.msg}}</div>
                           </div>
                           <div ng-if="messages.success" role="alert" class="alert alert-success">
                             <div ng-repeat="success in messages.success">{{success.msg}}</div>
                           </div>
                           <form ng-submit="sendContactFormATM()"  name="enq" class="field_form">
                                   <div class="row">
                                   	<div class="form-group col-md-6" >
                                       	<input type="text" required="required"  ng-model="contactATM.first_name" autofocus placeholder="{{'ENTER_FIRST_NAME' | translate}} *" id="first-name" class="form-control" name="first_name">
                                    </div>

                                    	<div class="form-group col-md-6" >
                                        	<input type="text" required="required"  ng-model="contactATM.last_name" autofocus placeholder="{{'ENTER_LAST_NAME' | translate}} *" id="last-name" class="form-control" name="last_name">
                                     </div>
                                   <div class="form-group col-md-6">
                                   	<input type="email" required="required"  ng-model="contactATM.email" placeholder="{{'ENTER_EMAIL' | translate}} *" id="email" class="form-control" name="email">
                                   </div>
                                   <div class="form-group col-md-6" >
                                   	<input type="text" required="required" ng-model="contactATM.company"  placeholder="{{'ENTER_COMPANY' | translate}}" id="company" class="form-control" name="company">
                                   </div>

                                   <div class="form-group col-md-12">
                                   	<textarea required="required"  ng-model="contactATM.message" placeholder="{{'MESSAGE' | translate}} *" id="description" class="form-control" name="message" rows="3"></textarea>
                                   </div>
                                   <div class="col-md-12 text-center">
                                   	<button type="submit" title="{{'SUBMIT_YOUR_QUERY' | translate}}" class="btn btn-default btn-radius bttn_submit" name="submit" value="Submit Message">{{'SUBMIT_YOUR_QUERY' | translate}}</button>
                                   </div>
                               </div>
                           </form>


                       </div>

                   </div>


               </div>


           </section>
