<!-- translated -->

<section class="title_wrap">

   <div class="container">

       <div class="row">

           <div class="col-md-12">

               <div class="page_title">{{  'CONTACT_US' | translate }}</div>

             </div>

        </div>
   </div>

  </section>








      <section class="middle_part">

      	<div class="container">

          	<div class="row">

              	<div class="col-md-12">

                  	<div class="title_default_dark title_border text-center">
                      	<h4>{{  'CONTACT_INFO' | translate }}</h4>
                      </div>

                  </div>

                 <div class="col-md-4">

                      <div class="c_icon"><i class="ti-location-pin"></i></div>

                      <div class="c_heading">{{  'ADDRESS' | translate }}</div>

                      <div class="c_text">{{settings.contact_address}}</div>

                 </div>


                 <div class="col-md-4">

                      <div class="c_icon"><i class="ti-headphone"></i></div>

                      <div class="c_heading">{{  'PHONE' | translate }}</div>

                      <div class="c_text">{{settings.contact_number}}</div>

                 </div>


                 <div class="col-md-4">

                      <div class="c_icon"><i class="ti-email"></i></div>

                      <div class="c_heading">{{  'EMAIL' | translate }}</div>

                      <div class="c_text">{{settings.contact_email}}</div>

                 </div>



              </div>

          </div>

      </section>




         <section class="contact_form">

           	<div class="container">

               	<div class="row">

                   	<div class="col-md-12">

                           <div class="title_default_dark title_border text-center">
                                   <h4>{{ 'GET_IN_TOUCH' | translate }}</h4>
                           </div>

                           <div ng-if="messages.error" role="alert" class="alert alert-danger">
                             <div ng-repeat="error in messages.error">{{error.msg}}</div>
                           </div>
                           <div ng-if="messages.success" role="alert" class="alert alert-success">
                             <div ng-repeat="success in messages.success">{{success.msg}}</div>
                           </div>
                           <form ng-submit="sendContactForm()"  name="enq" class="field_form">
                                   <div class="row">
                                   	<div class="form-group col-md-6" >
                                       	<input type="text" required="required"  ng-model="contact.name" autofocus placeholder="{{'ENTER_NAME'|translate}} *" id="first-name" class="form-control" name="name">
                                    	 </div>
                                       <div class="form-group col-md-6">
                                       	<input type="email" required="required"  ng-model="contact.email" placeholder="{{'ENTER_EMAIL'|translate}} *" id="email" class="form-control" name="email">
                                       </div>
                                       <div class="form-group col-md-6" >
                                       	<input type="text" required="required" ng-model="contact.subject"  placeholder="{{'ENTER_SUBJECT'|translate}}" id="subject" class="form-control" name="subject">
                                       </div>
                                       <div class="form-group col-md-6">
                                       	<input type="text"  placeholder="{{'ENTER_PHONE'|translate}}" ng-model="contact.phone"  id="phone" class="form-control" name="phone">
                                       </div>
                                       <div class="form-group col-md-12">
                                       	<textarea required="required"  ng-model="contact.message" placeholder="{{'MESSAGE'|translate}} *" id="description" class="form-control" name="message" rows="3"></textarea>
                                       </div>
                                       <div class="col-md-12 text-center">
                                       	<button type="submit" title="{{'SUBMIT'|translate}}" class="btn btn-default btn-radius bttn_submit" name="submit" value="Submit Message">{{'SUBMIT'|translate}}</button>
                                       </div>
                                   </div>
                               </form>


                       </div>

                   </div>


               </div>


           </section>
