<section class="title_wrap">
 	<div class="container">
  	<div class="row">
    	<div class="col-md-12">
      	<div class="page_title">{{  'FAQ_TITLE' | translate }}</div>
      </div>
     </div>
 	</div>
</section>
<section class="middle_part faq">
  <div class="container">
   	<div class="row">
     	<div class="col-md-12">
        <select ng-model="selectedCat" class="form-control">
          <option value="">{{  'FILTER' | translate }}</option>
          <option ng-if='currentLang() == "he"' ng-repeat="cat_he in cats_he" value="{{cat_he}}">{{cat_he}}</option>
          <option ng-if='currentLang() == "en"' ng-repeat="cat in cats" value="{{cat}}">{{cat}}</option>
        </select>
      </div>
    </div>


   	<div class="row">
      <div class="col-md-12">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade active show" id="ico" role="tabpanel" aria-labelledby="ico-tab">
            <div id="ico-accordion" class="collapse-icon accordion-group accordion-icon-rotate">
              <div class="card" ng-repeat="faq in faqs track by $index" ng-if="selectedCat == '' || selectedCat == faq.category">
                <div class="card-header" id="{{'#icoHeading'+$index}}">
                  <h5 class="mb-0">
                    <a id="{{'#icoHeadingLink'+$index}}" class="btn-link collapsed" data-toggle="collapse" data-target="{{'#collapse'+$index}}" aria-expanded="false" aria-controls="{{'#collapse'+$index}}">
                      <span class="icon gradient-crypto"></span>
                      {{(currentLang() == "en")? faq.title  : faq.title_he}}
                    </a>
                  </h5>
                </div>

                <div id="{{'collapse'+$index}}" class="collapse" aria-labelledby="{{'#icoHeadingOne'+$index}}" data-parent="#ico-accordion" style="">
                  <div class="card-body"  ng-if='currentLang() == "en"'>{{faq.content}}</div>
                  <div class="card-body"  ng-if='currentLang() == "he"'>{{faq.content_he}}</div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
