<!-- translated -->


<div class="container">
	<div class="footer-wrapper">
		<div class="row">
			<div class="col-md-4">
				<div class="about">
					<div class="about-text animated">
                    	<div class="foo_logo">
                        <img src="img/logo-white.png" alt="Crypto Logo"/>
                        </div>
												<p  ng-if='currentLang() == "en"' class="grey-accent2">{{settings.about_short}}</p>
												<p  ng-if='currentLang() == "he"' class="grey-accent2">{{settings.about_short_he}}</p>
					</div>
					<ul class="social-buttons list-unstyled mb-5">
						<li class="animated"><a href="{{settings.social_facebook}}" title="Facebook" class="btn font-medium"><i class="ti-facebook"></i></a></li>
						<li class="animated"><a href="{{settings.social_twitter}}" title="Twitter" class="btn font-medium"><i class="ti-twitter-alt"></i></a></li>
						<li class="animated"><a href="{{settings.social_telegram}}" title="Telegram" class="btn font-medium"><i class="fab fa-telegram"></i></a></li>
						<!-- <li class="animated"><a href="#" title="Pintrest" class="btn font-medium"><i class="ti-pinterest"></i></a></li> -->
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="links">
					<h5 class="title animated">{{ 'OUR_PARTNER_SITES' | translate }}</h5>
					<ul class="useful-links float-left mr-5">
						<li class="animated"><a href="{{settings.footer_link_url_1}}">{{settings.footer_link_text_1}}</a></li>
						<li class="animated"><a href="{{settings.footer_link_url_2}}">{{settings.footer_link_text_2}}</a></li>
						<li class="animated"><a href="{{settings.footer_link_url_3}}">{{settings.footer_link_text_3}}</a></li>
						<li class="animated"><a href="{{settings.footer_link_url_4}}">{{settings.footer_link_text_4}}</a></li>
						<li class="animated"><a href="{{settings.footer_link_url_5}}">{{settings.footer_link_text_5}}</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="feed">
					<h5 class="title animated">{{ 'CONTACT_INFO' | translate }}</h5>
					<div class="tweets">
						<span class="animated">{{ 'ADDRESS' | translate }}: {{settings.contact_address}}.</span>
						<span class="animated">{{ 'EMAIL' | translate }}: {{settings.contact_email}}</span>
						<span class="animated">{{ 'PHONE' | translate }}: {{settings.contact_number}}</span>
						<span class="animated">{{ 'OPENING_HOURS' | translate }}: {{settings.contact_timings}}</span>
   					</div>
				</div>
			</div>
		</div>
		<div class="copy-right mx-auto text-center">
			<span ng-if='currentLang() == "en"'  class="copyright">{{settings.footer_text}}</span>
			<span ng-if='currentLang() == "he"'  class="copyright">{{settings.footer_text_he}}</span>
		</div>
	</div>
</div>
