<!-- translated -->

<nav class="main-menu static-top navbar-dark navbar navbar-expand-lg fixed-top mb-1" ng-controller="HeaderCtrl" >
     <div class="container">
   <a href="/"><img class="logo_pic" src="img/logo-white.png" alt="Crypto Logo"/></a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarCollapse">
       <div id="navigation" class="navbar-nav ml-auto">
           <ul class="navbar-nav mt-1">
               <li class="nav-item">
                   <a href="/" class="nav-link">{{  'HOME' | translate }}</a>
               </li>
               <li class="nav-item">
                   <a href="/about" class="nav-link">{{  'ABOUT_US' | translate }}</a>
               </li>
               <li class="nav-item">
                   <a href="/locations" class="nav-link">{{  'LOCATIONS' | translate }}</a>
               </li>
               <li class="nav-item">
                   <a href="/faq" class="nav-link">{{  'QA' | translate }}</a>
               </li>
               <li class="nav-item">
                   <a href="/blog" class="nav-link"> {{  'BLOG' | translate }} </a>
               </li>
               <li class="nav-item">
                   <a href="/buy-atm-machines" class="nav-link"> {{  'BUY_ATM_MACHINE' | translate }} </a>
               </li>
               <li class="nav-item">
                   <a href="/contact" class="nav-link"> {{  'CONTACT' | translate }} </a>
               </li>
               <li class="nav-item">
                 <a style="cursor:pointer" ng-click="changeLang('he')" ng-if="currentLang() == 'en'" class="nav-link">{{ 'SWITCH_TO' | translate}}</a>
                 <a style="cursor:pointer" ng-click="changeLang('en')" ng-if="currentLang() == 'he'" class="nav-link">{{ 'SWITCH_TO' | translate}}</a>
               </li>

           </ul>
           <form class="form-inline mt-2 mt-md-0">



               <a class="btn btn-sm btn-gradient-blue"  ng-if="!isAuthenticated()"  href="/login" >{{  'LOGIN' | translate }}</a> &nbsp;<a  ng-if="!isAuthenticated()"  class="btn btn-sm btn-gradient-blue"  href="/signup" >{{  'REGISTER' | translate }}</a>
               <a  ng-if="isAuthenticated()"  class="btn btn-sm btn-gradient-blue"  href="/account" >{{  'DASHBOARD' | translate }}</a> &nbsp;
               <a  ng-if="isAuthenticated() && isSuper()"  class="btn btn-sm btn-gradient-blue"  href="/admin_panel/" target="_blank">{{  'ADMIN' | translate }}</a> &nbsp;
               <a  ng-if="isAuthenticated() " ng-click="logout()" class="btn btn-sm btn-gradient-blue"   target="_blank"><i class="fa fa-sign-out-alt" style="color:#fff"></i></a>
           </form>
       </div>
   </div>
</div>
     </nav>
