<!-- translated -->

<div class="content-wrapper">

<div class="content-body">
       <main>
<section class="head-area">
   <div id="particles-js" style="margin-top:-5px"></div>
   <div class="head-content container-fluid bg-gradient d-flex align-items-center">
       <div class="container">
           <div class="banner-wrapper">
               <div class="row align-items-center">
                   <div class="col-lg-6 col-md-12">
                       <div class="banner-content pt-5">
                         <h1 ng-if='currentLang() == "en"' class="best-template">{{settings.main_heading}}</h1>
                           <h1 ng-if='currentLang() == "he"' class="best-template">{{settings.main_heading_he}}</h1>
                           <h3 ng-if='currentLang() == "en"' class="mb-4 d-block white animated">{{settings.main_subheading}}</h3>
                           <h3 ng-if='currentLang() == "he"' class="mb-4 d-block white animated">{{settings.main_subheading_he}}</h3>



                           <div class="mt-5">
                               <!-- <a href="/contact" class="btn btn-lg btn-gradient-blue">Contact Us</a> -->
                           </div>
                       </div>
                   </div>
                   <div class="col-lg-6 col-md-12 text-right  ">
                       <div class="crypto-3d-graphic">
                           <img src="/images/Coin-BTC.png" class="d-block d-block img-responsive" alt="CICO">
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</section>
<section class="exchange-listing">
   <div class="container-fluid bg-color">
       <div class="container">
           <div class="row listing list-unstyled">
               <div class="col text-center">
                   <img src="images/bitcoin1-1.png" alt="icon">
                   <h2>${{currencies[0].price}}</h2>
               </div>
               <div class="col text-center">
                   <img src="images/ether1.png" alt="icon">
                   <h2>${{currencies[1].price}}</h2>
               </div>
               <div class="col text-center">
                   <img src="images/litecoin1.png" alt="icon">
                   <h2>${{currencies[2].price}}</h2>
               </div>
               <div class="col text-center">
                   <img src="images/dash1.png" alt="icon">
                   <h2>${{currencies[3].price}}</h2>
               </div>
               <div class="col text-center">
                   <img src="images/zcash1.png" alt="icon">
                   <h2>${{currencies[4].price}}</h2>
               </div>
               <div class="col text-center">
                   <img src="images/bitcoincash1-1-copy.png" alt="icon">
                   <h2>${{currencies[5].price}}</h2>
               </div>
           </div>
       </div>
   </div>
</section>
<section class="about section-padding grey_bg_section">
   <div class="container-fluid">
       <div class="container">
           <div class="heading text-center">
               <div class="animated">
                 <h2 ng-if='currentLang() == "en"' class="title">{{settings.landing_heading}}</h2>
                   <h2 ng-if='currentLang() == "he"' class="title">{{settings.landing_heading_he}}</h2>
               </div>

               <p ng-if='currentLang() == "en"' class="content-desc">{{settings.landing_text}}</p>
               <p ng-if='currentLang() == "he"' class="content-desc">{{settings.landing_text_he}}</p>
           </div>
           <div class="content-area">
               <div class="row">
                   <div class="col-md-12 col-lg-6">
                       <h4 class="title">{{'FOR_TRADERS' | translate}}</h4>
                       <div ng-if='currentLang() == "en"' ng-bind-html="settings.for_traders | trust"></div>
                       <div ng-if='currentLang() == "he"' ng-bind-html="settings.for_traders_he | trust"></div>
                   </div>
                   <div class="col-md-12 col-lg-6">
                       <div class="position-relative what-is-crypto-img float-xl-right">
										<img class="img-fluid" ng-src="{{'/downloads/images/'+settings.home_page_photo}}" />
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</section>
<section class="our-coin section-pro section-padding bg-gradient">
   <div class="container-fluid">
       <div class="container">
           <div class="dark-bg-heading text-center">
               <div class="animated">
                   <h2 class="title">{{  'WANT_TO_BUY_CRYPT' | translate }}</h2>
               </div>
               <p class="content-desc animated" >{{ 'SUBSCR_TXT' | translate }}</p>
<a href="/signup" ng-if="!isAuthenticated()"   class="btn btn-lg btn-gradient-blue">{{  'REGISTER_NOW' | translate }}</a>
       <a href="/account" ng-if="isAuthenticated()"   class="btn btn-lg btn-gradient-blue">{{  'GO_TO_DASH' | translate }}</a>
           </div>

       </div>
   </div>
</section>
<section class="token-distribution section-padding">
   <div class="container-fluid">
       <div class="container">
           <div class="heading text-center">
               <div class="animated">
                   <h2 class="title">{{ 'WHY_CHOOSE_US' | translate }}</h2>
               </div>
           </div>
           <div class="row">
               <div class="col-md-12 col-lg-6 pr-5 animated">

                   <div class="row">

                     <div class="col-md-6 text-center">
                         <div class="why_pic"><img src="images/economic.png" alt="" /></div>
                         <p ng-if='currentLang() == "en"' class="mt-1">{{settings.why_us_text_1}}</p>
                         <p ng-if='currentLang() == "he"' class="mt-1">{{settings.why_us_text_1_he}}</p>

                       </div>
                       <div class="col-md-6 text-center">
                         <div class="why_pic"><img src="images/business.png" alt="" /></div>
                         <p ng-if='currentLang() == "en"' class="mt-1">{{settings.why_us_text_2}}</p>
                         <p ng-if='currentLang() == "he"' class="mt-1">{{settings.why_us_text_2_he}}</p>

                       </div>
                       <div class="col-md-6 text-center">
                         <div class="why_pic"><img src="images/simple.png" alt="" /></div>
                         <p ng-if='currentLang() == "en"' class="mt-1">{{settings.why_us_text_3}}</p>
                         <p ng-if='currentLang() == "he"' class="mt-1">{{settings.why_us_text_3_he}}</p>

                       </div>
                       <div class="col-md-6 text-center">
                         <div class="why_pic"><img src="images/smart.png" alt="" /></div>
                         <p ng-if='currentLang() == "en"' class="mt-1">{{settings.why_us_text_4}}</p>
                         <p ng-if='currentLang() == "he"' class="mt-1">{{settings.why_us_text_4_he}}</p>

                       </div>

                   </div>
                   <div class="content-area">
                   </div>
               </div>
               <div class="col-md-12 col-lg-6 move-first animated">
                   <div class="token-img">
										<img class="img-fluid" ng-src="{{'/downloads/images/'+settings.about_page_photo}}" />
                   </div>
               </div>
           </div>
       </div>
   </div>
</section>
<section class="contact section-padding grey_bg_section">
   <div class="container-fluid">
       <div class="container">
           <div class="heading text-center">
               <div class="animated">
                   <h2 class="title">{{ 'GET_IN_TOUCH' | translate }}</h2>
               </div>
           </div>
           <div class="row">
               <div class="col-lg-5 col-md-12 mx-auto">
                   <ul class="list-unstyled list-group contact-info mb-3">
                       <li class="pt-1 animated">
                           <i class="ti-location-pin"></i>
                           <span>{{settings.contact_address}}</span>
                       </li>
                       <li class="animated">
                           <i class="ti-email"></i>
                           <span>{{settings.contact_email}}</span>
                       </li>
                       <li class="animated">
                           <i class="ti-headphone"></i>
                           <span>{{settings.contact_number}}</span>
                       </li>
                       <li class="animated">
                          <i class="ti-alarm-clock"></i>
                           <span>{{settings.contact_timings}}</span>
                       </li>
                   </ul>
               </div>
               <div class="col-lg-7 col-md-12 mx-auto">
                 <div ng-if="messages.error" role="alert" class="alert alert-danger">
                   <div ng-repeat="error in messages.error">{{error.msg}}</div>
                 </div>
                 <div ng-if="messages.success" role="alert" class="alert alert-success">
                   <div ng-repeat="success in messages.success">{{success.msg}}</div>
                 </div>
                 <form ng-submit="sendContactForm()"  name="enq" class="field_form">
                         <div class="row">
                          <div class="form-group col-md-6" >
                              <input type="text" required="required"  ng-model="contact.name" autofocus placeholder="{{'ENTER_NAME' | translate}} *" id="first-name" class="form-control" name="name">
                             </div>
                             <div class="form-group col-md-6">
                              <input type="email" required="required"  ng-model="contact.email" placeholder="{{'ENTER_EMAIL' | translate}} *" id="email" class="form-control" name="email">
                             </div>
                             <div class="form-group col-md-6" >
                              <input type="text" required="required" ng-model="contact.subject"  placeholder="{{'ENTER_SUBJECT'  | translate}}" id="subject" class="form-control" name="subject">
                             </div>
                             <div class="form-group col-md-6">
                              <input type="text"  placeholder="{{'ENTER_PHONE' | translate}}" ng-model="contact.phone"  id="phone" class="form-control" name="phone">
                             </div>
                             <div class="form-group col-md-12">
                              <textarea required="required"  ng-model="contact.message" placeholder="{{'MESSAGE' | translate}} *" id="description" class="form-control" name="message" rows="3"></textarea>
                             </div>
                             <div class="col-md-12 text-center">
                              <button type="submit" title="{{'SUBMIT'|translate}}" class="btn btn-default btn-radius bttn_submit" name="submit" value="{{'Submit Message'}}">{{ 'SUBMIT' | translate }}</button>
                             </div>
                         </div>
                     </form>
               </div>
           </div>

       </div>
   </div>
</section>
       </main>
     </div>
   </div>

   <script src="js/lib/particles-type1.min.js"></script>

<script>
setTimeout(function(){
  window.scrollTo(0, 0);
}, 100);
</script>
