<section class="title_wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page_title">{{ 'LOCATION' | translate }}</div>
      </div>
    </div>
  </div>
</section>
<section class="map_area">
  <div  >
  <ng-map center="41,-87" zoom="3" height="450">
    <custom-marker
      ng-repeat="atm in atms"
      position="{{atm.lat+','+atm.long}}"
      on-mouseover="mouseover()"
      on-mouseout="mouseout()"
      on-click="clickMarker(atm)">
          <div><div> <img src="/img/logo-white.png" /></div> </div>
        </custom-marker>


      </ng-map>
</div>
</section>
<section class="listing_area" style='padding-top:40px'>
  <div class="container">
  <div class="col-md-12">
    <form ng-submit="list()">
      <div class="authorize_box" style="max-width:none">
        <div class="row">
          <div class="col-md-3">
            <input type="text" ng-model="search.text" placeholder="{{'SEARCH_PLDR'|translate}}" class="form-control" />
          </div>
          <div class="col-md-4">
            <input class="form-control"type="text" ng-model="search.location" placeholder="{{'FILTER_CITY'|translate}}" />
          </div>
          <div class="col-md-3">
            <select class="form-control"type="text" ng-model="search.service" placeholder="{{'FILTER_PROVIDER' | translate}}" >
              <option value="both">{{'BUY_SELL'|translate}}</option>
              <option value="sell">{{'SELL'|translate}}</option>
              <option value="buy">{{'BUY'|translate}}</option>
            </select>
          </div>
          <div class="col-md-2">
            <input type="submit"  class="btn btn-primary" value="{{'FILTER'|translate}}" />
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="container">
    <div class="row m-t-50 m-b-50">
      <div class="col-md-12" ng-if="loaded && atms.length == 0">
        <div role="alert" class="alert alert-danger">
          <div >{{'NO_RESULTS'|translate}}</div>
        </div>
      </div>


      <div class="col-md-4 col-sm-6" ng-repeat="atm in atms">
        <div class="authorize_box" data-listing_id="{{atm.id}}">
          <div ng-if='currentLang() == "en"' class="page_title" ng-bind="atm.title"></div>
          <div ng-if='currentLang() == "he"' class="page_title" ng-bind="atm.title_he"></div>
          <hr />
          <span ng-if='currentLang() == "en"' class="open_till text-center"  style="min-height: 70px;display: inline-block;width: 100%;"><i class="fa fa-map-marker"></i> {{shortOf(atm.address)}}</span>
          <span ng-if='currentLang() == "he"' class="open_till text-center"  style="min-height: 70px;display: inline-block;width: 100%;"><i class="fa fa-map-marker"></i> {{shortOf(atm.address_he)}}</span>
          <span class="open_till text-center" style="display: inline-block;width: 100%;"><i class="fa fa-phone"></i> {{shortOf(atm.phone_number)}}</span>
          <hr />
          <span class="text-center" style="display: inline-block;width: 100%;font-weight: bold;">
            <span class="open_till text-center" ng-bind="doFormat(atm.start_time)" ></span> - <span class="open_till" ng-bind="doFormat(atm.close_time)"></span>
          </span>
          <span class="text-center" style="display: inline-block;width:100%;">
            {{availablabilityCheck2(atm.days_available)}}
          </span>
          <hr />
          <div style=" text-align: center; ">
            <span class="badge badge-pill badge-success" ng-if="atm.has_buy_option">{{'BUY'|translate}} ( {{atm.commission}}% )</span>
            <span class="badge badge-pill badge-danger" ng-if="atm.has_sell_option">{{'SELL'|translate}} ( {{atm.commission_sell}}% )</span>

          </div>
          <hr />
          <a style=" width: 100%; color: #007Bff; padding-top: 0; padding-bottom: 0; text-transform: lowercase; margin-bottom: 10px; " class="btn btn-link" target="_blank" ng-href="{{linkBuildDirection(atm.lat, atm.long)}}">{{'GET_DIRECTIONS'|translate}}</a>
          <input type="button" class="btn btn-primary schedule_btn btn-sm" value="{{'SCHEDULE_VISIT'|translate}}" ng-click="schedule(atm)" />
        </div>
      </div>
    </div>
  </div>
</section>
<div class="modal" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog  modal-lg"  role="document">
    <form name="bookingfrm" id="bookingfrm"   ng-submit="finalizeSchedule(booking)"  >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{'SCHEDULE_VISIT'|translate}} -

            <span ng-if='currentLang() == "en"' >{{selected_atm.title}}</span>
            <span ng-if='currentLang() == "he"' >{{selected_atm.title_he}}</span>

          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">


          <div ng-if="booking_done && messages.success" role="alert" class="alert alert-success">
            <div ng-repeat="success in messages.success">{{success.msg}}</div>
          </div>


          <div class="row" ng-if="!booking_done">
            <div class="col-md-6">
              <strong><i class="fa fa-info-circle"></i> {{'DESC'|translate}}</strong>
              <p ng-if='currentLang() == "en"'>{{selected_atm.description}}</p>
              <p ng-if='currentLang() == "he"'>{{selected_atm.description_he}}</p>
              <hr />
              <strong><i class="fa fa-map-marker"></i> {{'ADDRESS'|translate}}</strong>
              <p ng-if='currentLang() == "en"'>{{selected_atm.address_he}}</p>
              <p ng-if='currentLang() == "he"'>{{selected_atm.address_he}}</p>



              <hr />
              <strong><i class="fa fa-phone"></i> {{'PHONE_NUMBER'|translate}}</strong>
              <p>{{selected_atm.phone_number}}</p>
              <hr />
              <h5>{{'AVAILABILITY'|translate}}</h5>
              <div class="row">
                <div class="col-md-6" ng-if="selected_atm.has_buy_option">
                  <strong><i class="fa fa-calendar"></i> {{'DAYS'|translate}}</strong>
                  <p>{{availablabilityCheck(selected_atm.days_available)}}</p>
                </div>
                <div class="col-md-6" ng-if="selected_atm.has_sell_option">
                  <strong><i class="fa fa-clock"></i> {{'TIMINGS'|translate}}</strong>
                  <p>{{ doFormat(selected_atm.start_time) }} to {{doFormat(selected_atm.close_time)}}</p>
                </div>
              </div>

              <hr />
              <div class="row">
                <div class="col-md-6">
              <strong><i class="fa fa-percent"></i> {{'COMMISSION_BUY'|translate}}</strong>
              <p>{{ selected_atm.commission }}%</p>
            </div>
            <div class="col-md-6">
              <strong><i class="fa fa-percent"></i> {{'COMMISSION_SELL'|translate}}</strong>
              <p>{{ selected_atm.commission_sell }}%</p>

            </div>
            </div>
            </div>

              <div class="col-md-5">
                <div ng-if="messages.error" role="alert" class="alert alert-danger">
                  <div ng-repeat="error in messages.error">{{error.msg}}</div>
                </div>
                <div ng-if="messages.success" role="alert" class="alert alert-success">
                  <div ng-repeat="success in messages.success">{{success.msg}}</div>
                </div>
                <div class="form-group">
                  <label>{{'SELECT_VISIT_TIME'|translate}}</label>
                  <input style="margin:0;" type="time" name="booking_time" required ng-model="booking.time" class="form-control" min="{{selected_atm.start_time}}" max="{{selected_atm.close_time}}" />
                  <small id="emailHelp" class="form-text text-muted"><strong>{{'NOTE'|translate}}:</strong> {{'SHOULD_BE_BETWEEN'|translate}}  {{ doFormat(selected_atm.start_time) }} {{'TO'|translate}} {{doFormat(selected_atm.close_time)}}.</small>

                </div>
                <div class="form-group">
                  <label>{{'SELECT_VISIT_DATE'|translate}}</label>

                  <div class="input-group mb-2" >
                    <input required id='datetimepicker1' type="text" class="form-control"   ng-model="booking.date"  placeholder="">
                    <div class="input-group-append">
                      <div class="input-group-text">
                          <span class="fa fa-calendar"></span></div>
                    </div>
                  </div>



                </div>
                <div class="form-group">
                  <label>{{'TX_TYP'|translate}} </label>
                  <select required ng-model="booking.transaction_type" class="form-control">
                    <option value="">{{'SELECT'|translate}} </option>
                    <option value="buy" ng-disabled="!selected_atm.has_buy_option">{{'BUY'|translate}}</option>
                    <option value="sell" ng-disabled="!selected_atm.has_sell_option">{{'SELL'|translate}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>{{'HOW_MUCH'|translate}} {{booking.transaction_type}}
                    <span ng-hide="booking.transaction_type">buy/sell</span>
                  </label>
                  <input required type="number" min='1'  class="form-control"   ng-model="booking.desired_amount"  placeholder="">
                </div>

              </div>
            </div>

        </div>
        <div class="modal-footer">
          <button type="submit" ng-if="!booking_done" style=" margin: 0 5px; " class="btn btn-primary">{{'SCHEDULE'|translate}}</button>
          <button type="button" class="btn btn-secondary" style=" margin: 0 5px; " data-dismiss="modal">{{'CLOSE'|translate}}</button>
        </div>
      </div>
    </form>
  </div>
</div>
<style>
  .schedule_btn{width:100%;}
  .authorize_box .page_title{font-size:22px;}
  .authorize_box{padding:20px;margin-bottom:20px;}
  .m-t-50{margin-top : 50px;}
  .m-b-50{margin-bottom : 50px;}
  .form-control{margin-bottom:0;}
  .badge {
    padding: 5px 10px;
    line-height: 10px;
    width: 40%;
    font-size: 10px;
    padding-top: 7px;
    min-width: 50px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.gm-style .custom-marker img {
    max-width: none;
    max-height: 20px;
}


  .ng-invalid.ng-touched, .ng-invalid.ng-touched:focus {border-color: red;}
</style>



<div class="modal fade" id="no_KYC" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{'ALERT'|translate}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="error">
            {{'KYC_NOT_UPLD'|translate}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{'CLOSE'|translate}}</button>
          <a href="/account/kyc" class="btn btn-default" style=" color: blue; " >
            {{'UPDATE_KYC'|translate}}</a>
        </div>
      </div>

    </div>
  </div>



  <div class="modal fade" id="KYC_PENDING" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{'ALERT'|translate}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <p id="error">
              {{'KYC_NOT_APPR'|translate}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{'CLOSE'|translate}}</button>

          </div>
        </div>

      </div>
    </div>
