<!-- translated -->
<section class="title_wrap">

  <div class="container">

    <div class="row">

      <div class="col-md-12">

        <div class="page_title">{{  'ACCOUNT' | translate }} - {{  'MY_KYC' | translate }}</div>

      </div>

    </div>
  </div>

</section>


<section class="middle_part" style="padding-bottom:0">

  <div class="container">

    <div class="row">

      <div class="col-md-3">
        <ul class="list-group">
          <li ng-class="{'list-group-item': true, 'active': (isActive('/account'))}"><a class="active" href="/account">{{  'PROFILE' | translate }}</a></li>
          <li ng-class="{'list-group-item': true, 'active': (isActive('/bookings'))}"><a href="/bookings">{{  'MY_BOOKINGS' | translate }}</a></li>
          <li ng-class="{'list-group-item': true, 'active': (isActive('/locations'))}"><a href="/locations">{{  'BOOK_A_VISIT' | translate }}</a></li>
          <li ng-class="{'list-group-item': true, 'active': (isActive('/account/kyc'))}"><a href="/account/kyc">{{  'MY_KYC' | translate }}</a></li>
          <li ng-class="{'list-group-item': true, 'active': (isActive('/account/change-password'))}"><a href="/account/change-password">{{  'CHANGE_PWD' | translate }}</a></li>
          <li ng-controller="HeaderCtrl"><a  href="#" class="list-group-item" ng-click="logout()">{{  'LOGOUT' | translate }}</a></li>
        </ul>
      </div>

      <div class="col-md-9">


        <div class="authorize_box" style="min-width:100%">







          <form ng-submit="addFile()" class="form-horizontal">

            <div class="title_default_dark title_border text-center">
              <h4>{{  'MY_KYC' | translate }}</h4>
              <!-- <p >Enter the new password.</p> -->
            </div>

            <div class="progress" ng-if="!profile.kyc_done">
            <div class="progress-bar   progress-bar-striped bg-danger" role="progressbar" style="width: 2%" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

            <div class="progress" ng-if="profile.kyc_done && !profile.kyc_approved && !profile.kyc_rejected">
              <div class="progress-bar  progress-bar-animated  progress-bar-striped bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

            <div class="progress" ng-if="profile.kyc_done && !profile.kyc_approved && profile.kyc_rejected">
              <div class="progress-bar  progress-bar-animated  progress-bar-striped bg-danger" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

            <div class="progress" ng-if="profile.kyc_approved">
              <div class="progress-bar  bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>


            <br />

            <div class="field_form authorize_form">



            </div>
            <div ng-if="profile.kyc_done && !profile.kyc_approved && !profile.kyc_approved && !profile.kyc_rejected" role="alert" class="alert alert-warning">
              <div>{{'KYC_YET'|translate}}</div>
            </div>
            <div ng-if="profile.kyc_done && !profile.kyc_approved && !profile.kyc_approved && profile.kyc_rejected" role="alert" class="alert alert-danger">
              <div>{{'KYC_REJ'|translate}}</div>
            </div>

            <div ng-if="profile.kyc_done && profile.kyc_approved" role="alert" class="alert alert-success">
              <div>{{'KYC_APR'|translate}}</div>
            </div>

<hr />

                          <div ng-if="messages.error" role="alert" class="alert alert-danger">
                            <div ng-repeat="error in messages.error">{{error.msg}}</div>
                          </div>
                          <div ng-if="messages.success" role="alert" class="alert alert-success">
                            <div ng-repeat="success in messages.success">{{success.msg}}</div>
                          </div>

            <div class="field_form authorize_form" ng-if="!profile.kyc_done || !profile.kyc_approved">


              <div class="form-group col-md-12">
                <label>{{'SELECT_ID_PROOF'|translate}}</label>
                <select placeholder="Identity Proof Type" ng-model="profile.kyc_1_type" type="text" class="form-control" required="" name="kyc_1_type">
                  <option value="">{{'SELECT'|translate}}</option>
                  <option value="Passport No">{{'PASSPORT_NM' | translate}}</option>
                  <option value="Driver License">{{'DRIVER_LC'|translate}}</option>
                  <option value="Nationality Id">{{'NAT_ID'|translate}}</option>

                </select>
              </div>


              <div class="form-group col-md-12">
                <input placeholder="{{'IDENTITY'|translate}}" ng-model="profile.kyc_1_text" type="text" class="form-control" required="" name="kyc_1_text">
              </div>



              <div class="form-group col-md-12">

                <input placeholder="Identity Proof Photo" ng-model="profile.kyc_1_path" onchange="angular.element(this).scope().uploadedFile(this, 1)" type="file" class="form-control" required="" name="kyc_1_path">
                <i ng-if="upload_started.path_1" class="fa fas fa-spin fa-spinner"></i>
              </div>

              <div class="form-group col-md-12 text-center">
                <button class="btn btn-default btn-radius bttn_submit" type="submit">
                  <span ng-if="!profile.kyc_done">{{'SUBMIT' | translate}}</span>
                  <span ng-if="profile.kyc_done">{{'RESUBMIT' | translate}}</span>
                </button>
              </div>

            </div>

            <div class="field_form authorize_form" ng-if="profile.kyc_done">

              <div class="form-group col-md-12">
                <hr />
                <h5>{{'PREV_KYC_REC'|translate}}:</h5>

                <div class="row">
                  <div class="col-md-12">
                    <ul class="list-group">
                      <li class="list-group-item">
                        <strong>{{'IDENTITY_TYP'|translate}}</strong>
                        <span style=" float: right;">{{profile.kyc_1_type}}</span>
                      </li>
                      <li class="list-group-item">
                        <strong>{{'IDENTITY'|translate}}</strong>
                        <span style=" float: right;">{{profile.kyc_1_text}}</span>
                      </li>
                      <li class="list-group-item">
                        <strong>{{'IDENTITY_PRF'|translate}}</strong>
                        <span style=" float: right; ">  <a href="/downloads/kyc/{{profile.kyc_1_path}}" target="_blank" class="btn btn-sm  btn-primary" download>{{'DOWNLOAD'|translate}}</a>&nbsp;</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
