<!-- translated -->
<section class="title_wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page_title">{{  'ACCOUNT' | translate }} - {{  'PROFILE' | translate }}</div>
      </div>
    </div>
  </div>
</section>
<section class="middle_part" style="padding-bottom:0">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul class="list-group">
          <li ng-class="{'list-group-item': true, 'active': (isActive('/account'))}"><a class="active" href="/account">{{  'PROFILE' | translate }}</a></li>
          <li ng-class="{'list-group-item': true, 'active': (isActive('/bookings'))}"><a href="/bookings">{{  'MY_BOOKINGS' | translate }}</a></li>
          <li ng-class="{'list-group-item': true, 'active': (isActive('/locations'))}"><a href="/locations">{{  'BOOK_A_VISIT' | translate }}</a></li>
          <li ng-class="{'list-group-item': true, 'active': (isActive('/account/kyc'))}"><a href="/account/kyc">{{  'MY_KYC' | translate }}</a></li>
          <li ng-class="{'list-group-item': true, 'active': (isActive('/account/change-password'))}"><a href="/account/change-password">{{  'CHANGE_PWD' | translate }}</a></li>
          <li ng-controller="HeaderCtrl"><a  href="#" class="list-group-item" ng-click="logout()">{{  'LOGOUT' | translate }}</a></li>
        </ul>
      </div>
      <div class="col-md-9">
        <div class="authorize_box" style="min-width:100%">
          <form ng-submit="updateProfile()" class="form-horizontal">
            <div class="title_default_dark title_border text-center">
              <h4>{{'UPDATE_PROFILE'|translate}}</h4>
              <!-- <p >Enter the new password.</p> -->
            </div>
            <div class="field_form authorize_form">
              <div ng-if="messages.error" role="alert" class="alert alert-danger">
                <div ng-repeat="error in messages.error">{{error.msg}}</div>
              </div>
              <div ng-if="messages.success" role="alert" class="alert alert-success">
                <div ng-repeat="success in messages.success">{{success.msg}}</div>
              </div>

              <div class="form-group col-md-12">
                <input placeholder="{{  'ENTER_NAME' | translate }}" type="text" name="name" id="name" class="form-control" ng-model="profile.name">
              </div>
              <div class="form-group col-md-12">
                <input placeholder="{{  'ENTER_EMAIL' | translate }}" type="email" name="email" id="email" class="form-control" ng-model="profile.email">
              </div>



                            <div class="form-group col-md-12">

                              <div class="input-group ">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">{{'DOB'|translate}}</span>
  </div>
  <input style="margin-bottom:0" type="date" name="dob" id="dob" class="form-control" ng-model="profile.dob">
</div>




                            </div>


                                            <div class="form-group col-md-12">
                                              <label class="radio-inline radio col-sm-4">
                                              <input type="radio" ng-model="profile.gender" name="gender" value="male" ng-checked="profile.gender === 'male'"> <span>{{'MALE'|translate}}</span>
                                              </label>
                                              <label class="radio-inline col-sm-4">
                                              <input type="radio" ng-model="profile.gender" name="gender" value="female" ng-checked="profile.gender === 'female'"> <span>{{'FEMALE'|translate}}</span>
                                              </label>
                                            </div>


              <h6 class="text-center">{{'CONTACT_DETAILS'|translate}}</h6>


              <div class="form-group col-md-12">
              <input type="text" class="form-control"   ng-model="profile.location" required="" placeholder="{{'ADDRESS'|translate}}" name="address">
              </div>

              <div class="form-group col-md-12">
              <input type="text" class="form-control"   ng-model="profile.city" required="" placeholder="{{'CITY'|translate}}" name="city">
              </div>

              <div class="form-group col-md-12">
              <input type="text" class="form-control"   ng-model="profile.zipcode" required="" placeholder="{{'ZIPCODE'|translate}}" name="zipcode">
              </div>
              <div class="form-group col-md-12">
              <input type="text" class="form-control"   ng-model="profile.country" required="" placeholder="{{'COUNTRY'|translate}}" name="country">
              </div>

              <div class="form-group col-md-12">
              <input type="text" class="form-control"   ng-model="profile.phone_number" required="" placeholder="{{  'PHONE_NUMBER' | translate }}" name="phone_number">
              </div>

              <div class="form-group col-md-12 text-center" >
                <button class="btn btn-default btn-radius bttn_submit" type="submit">{{'UPDATE_PROFILE'|translate}}</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>
