<!-- translated -->
<section class="title_wrap">

  <div class="container">

    <div class="row">

      <div class="col-md-12">

        <div class="page_title">{{  'ACCOUNT' | translate }} - {{  'PWD' | translate }}</div>

      </div>

    </div>
  </div>

</section>


<section class="middle_part" style="padding-bottom:0">

  <div class="container">

    <div class="row">

      <div class="col-md-3">
        <ul class="list-group">
          <li ng-class="{'list-group-item': true, 'active': (isActive('/account'))}"><a class="active" href="/account">{{  'PROFILE' | translate }}</a></li>
          <li ng-class="{'list-group-item': true, 'active': (isActive('/bookings'))}"><a href="/bookings">{{  'MY_BOOKINGS' | translate }}</a></li>
          <li ng-class="{'list-group-item': true, 'active': (isActive('/locations'))}"><a href="/locations">{{  'BOOK_A_VISIT' | translate }}</a></li>
          <li ng-class="{'list-group-item': true, 'active': (isActive('/account/kyc'))}"><a href="/account/kyc">{{  'MY_KYC' | translate }}</a></li>
          <li ng-class="{'list-group-item': true, 'active': (isActive('/account/change-password'))}"><a href="/account/change-password">{{  'CHANGE_PWD' | translate }}</a></li>
          <li ng-controller="HeaderCtrl"><a  href="#" class="list-group-item" ng-click="logout()">{{  'LOGOUT' | translate }}</a></li>
        </ul>
      </div>
      <div class="col-md-9">

        <div class="authorize_box" style="min-width:100%">
          <div class="title_default_dark title_border text-center">
            <h4>{{  'CHANGE_PWD' | translate }}</h4>
            <!-- <p >Enter the new password.</p> -->
          </div>
          <div class="field_form authorize_form">

                          <div ng-if="messages.error" role="alert" class="alert alert-danger">
                            <div ng-repeat="error in messages.error">{{error.msg}}</div>
                          </div>
                          <div ng-if="messages.success" role="alert" class="alert alert-success">
                            <div ng-repeat="success in messages.success">{{success.msg}}</div>
                          </div>
            <form ng-submit="changePassword()" class="form-horizontal">
              <div class="form-group col-md-12">
                <input ng-model="user.password" type="password" class="form-control" required="" placeholder="{{  'ENTER_PASSWORD' | translate }}" name="password">
              </div>

              <div class="form-group col-md-12">
                <input ng-model="user.confirm" type="password" class="form-control" required="" placeholder="{{  'CONFIRM_PASSWORD' | translate }}" name="confirm_password">
              </div>
              <div class="form-group col-md-12 text-center">
                <button class="btn btn-default btn-radius bttn_submit" type="submit">{{  'SUBMIT' | translate }}</button>
              </div>
            </form>

          </div>
        </div>


      </div>
    </div>

  </div>

  </div>

</section>
