<!-- translated -->
   <section class="title_wrap">

    <div class="container">

        <div class="row">

            <div class="col-md-12">

                <div class="page_title">{{  'RESET_PWD' | translate }}</div>

              </div>

         </div>
    </div>

   </section>





       <section class="middle_part">

       	<div class="container">

           	<div class="row">

               	<div class="col-md-12">

                   	<div class="authorize_box">
                   	<div class="title_default_dark title_border text-center">
                       	<h4>{{'RESETING_PEWD' | translate}}</h4>
                           <p >{{'ENTER_NEW_PWD' | translate}}</p>
                       </div>
                       <div class="field_form authorize_form">
                       	<form  ng-submit="resetPassword()">
                          <div ng-if="messages.error" role="alert" class="alert alert-danger">
                            <div ng-repeat="error in messages.error">{{error.msg}}</div>
                          </div>
                          <div ng-if="messages.success" role="alert" class="alert alert-success">
                            <div ng-repeat="success in messages.success">{{success.msg}}</div>
                          </div>
                          <div class="form-group col-md-12">
                              <input autofocus ng-model="user.password" type="password" class="form-control" required="" placeholder="{{'ENTER_PASSWORD'|translate}}" name="password">
                             </div>

                             <div class="form-group col-md-12">
                                	<input ng-model="user.confirm" type="password" class="form-control" required="" placeholder="{{'CONFIRM_PASSWORD'|translate}}" name="confirm_password">
                                </div>
                               <div class="form-group col-md-12 text-center">
                               	<button class="btn btn-default btn-radius bttn_submit" type="submit">{{  'SUBMIT' | translate }}</button>
                               </div>
                           </form>
                       </div>
                   </div>

                   </div>

               </div>

           </div>

       </section>
