<!-- translated -->

     <section class="title_wrap">

     	<div class="container">

        	<div class="row">

            	<div class="col-md-12">

                	<div class="page_title">{{  'REGISTER' | translate }}</div>

                </div>

           </div>
     	</div>

     </section>

         <section class="middle_part">

         	<div class="container">

             	<div class="row">

                 	<div class="col-md-12">

                     	<div class="authorize_box">
                     	<div class="title_default_dark title_border text-center">
                         	<h4>{{'REGISTER_ACCOUNT'|translate}}</h4>
                          <p >{{'CREATE_FREE_ACCOUNT'|translate}}</p>
                         </div>
                         <div class="field_form authorize_form">
                           <div ng-if="messages.error" role="alert" class="alert alert-danger">
                             <div ng-repeat="error in messages.error">{{error.msg}}</div>
                           </div>
                           <div ng-if="messages.success" role="alert" class="alert alert-success">
                             <div ng-repeat="success in messages.success">{{success.msg}}

                              &nbsp; {{IN_CASE_NO_MAIL}}, <a href="#" ng-click="resend()">{{'CLICK_HERE'|translate}}</a> {{'TO_RESPOND'|translate}}.
                             </div>
                           </div>
                         	<form ng-submit="signup()">
                             	<div class="form-group col-md-12 ">
                                 	<input type="text" class="form-control" ng-model="user.name"  required="" placeholder="{{  'FULL_NAME' | translate }}" name="name">
                              </div>
                             	<div class="form-group col-md-12">
                                 	<input type="email" class="form-control"   ng-model="user.email" required="" placeholder="{{  'EMAIL' | translate }}" name="email">
                              </div>

                              <h6 class="text-center">{{'CONTACT_DETAILS'|translate}}</h6>
                             	<div class="form-group col-md-12">
                                 	<input type="text" class="form-control"   ng-model="user.location" required="" placeholder="{{'ADDRESS'|translate}}" name="address">
                              </div>

                             	<div class="form-group col-md-12">
                                 	<input type="text" class="form-control"   ng-model="user.city" required="" placeholder="{{'CITY'|translate}}" name="city">
                              </div>

                             	<div class="form-group col-md-12">
                                 	<input type="text" class="form-control"   ng-model="user.zipcode" required="" placeholder="{{'ZIPCODE'|translate}}" name="zipcode">
                              </div>
                              <div class="form-group col-md-12">
                                  <input type="text" class="form-control"   ng-model="user.country" required="" placeholder="{{'COUNTRY'|translate}}" name="country">
                             </div>

                             	<div class="form-group col-md-12">
                                 	<input type="text" class="form-control"   ng-model="user.phone_number" required="" placeholder="{{'PHONE_NUMBER'|translate}}" name="phone_number">
                              </div>


                              <h6 class="text-center">{{'AUTH_DETAILS'|translate}}</h6>
                              <div class="form-group col-md-12">
                                <span id="result"></span>

                                 	<input type="password" id="password" ng-model="user.password"class="form-control" required="" placeholder="{{'ENTER_PASSWORD'|translate}}" name="password">
                                 </div>
                                 <div class="form-group col-md-12">
                                 	<input type="password"  ng-model="user.confirm_password" class="form-control" required="" placeholder="{{'CONFIRM_PASSWORD'|translate}}" name="cpassword">
                                 </div>
                                 <div class="form-group col-md-12" >
                                 	<div class="checkbox_field d-inline">
                                         <input type="checkbox" required name="signup_terms" id="signup_terms" value="signup_terms">
                                         <label for="signup_terms">{{'I_AGREE'|translate}}<a href="/terms">{{'TERMS_OF_SERVICE'|translate}}</a></label>
                                     </div>
                                 </div>
                                 <div class="form-group col-md-12 text-center" >
                                 	<button ng-disabled=" user.confirm_password != user.password " class="btn btn-default btn-radius bttn_submit" type="submit">{{  'SUBMIT' | translate }}</button>
                                 </div>
                             </form>
                         </div>
                     </div>

                     </div>

                 </div>

             </div>

         </section>
